<option value="Abu Dhabi">{{ 'customer.register.city.Abu_Dhabi' | t }}</option>
<option value="Ajman">{{ 'customer.register.city.Ajman' | t }}</option>
<option value="Al Ain">{{ 'customer.register.city.Al_Ain' | t }}</option>
<option value="Al Madam">{{ 'customer.register.city.Al_Madam' | t }}</option>
<option value="As Sila">{{ 'customer.register.city.As_Sila' | t }}</option>
<option value="Dhaid">{{ 'customer.register.city.Dhaid' | t }}</option>
<option value="Dubai">{{ 'customer.register.city.Dubai' | t }}</option>
<option value="Fujairah">{{ 'customer.register.city.Fujairah' | t }}</option>
<option value="Ghayathi">{{ 'customer.register.city.Ghayathi' | t }}</option>
<option value="Hatta">{{ 'customer.register.city.Hatta' | t }}</option>
<option value="Kalba">{{ 'customer.register.city.Kalba' | t }}</option>
<option value="Khor Fakkan">{{ 'customer.register.city.Khor_Fakkan' | t }}</option>
<option value="Liwa Oasis">{{ 'customer.register.city.Liwa_Oasis' | t }}</option>
<option value="Madinat Zayed">{{ 'customer.register.city.Madinat_Zayed' | t }}</option>
<option value="Ras Al Khaimah">{{ 'customer.register.city.Ras_Al_Khaimah' | t }}</option>
<option value="Ruwais">{{ 'customer.register.city.Ruwais' | t }}</option>
<option value="Sharjah">{{ 'customer.register.city.Sharjah' | t }}</option>
<option value="Umm Al Quwain">{{ 'customer.register.city.Umm_Al_Quwain' | t }}</option>
<option value="Western Region">{{ 'customer.register.city.Western_Region' | t }}</option> 