<div class="footer-blocks-subblock">
  <div class="select-locale">
    <span class="title-with-level select-locale-title font-century-std size-s uppercase"><span class="multiline-text"><ly-as-275737>COUNTRY REGION</ly-as-275737></span></span>
    <div class="custom-select-hzn select-locale-field">
      <span id="select-locale-field-label" class="sr-only"><ly-as-275737>COUNTRY REGION</ly-as-275737></span>
      <button id="select-locale-field-button" aria-expanded="false" aria-haspopup="listbox" class="custom-select-hzn-button" aria-labelledby="select-locale-field-label select-locale-field-button">
        <span class="select-locale-selected">
          <div class="locale-row">
            <span class="locale-row-icon-container">
              <span class="icon css-avaj45 ej69fo90" color="black" role="img">
                <img src="{{"lenguage.svg" | asset_url }}">
              </span>
            </span>
            <span class="locale-row-title"><ly-as-275738>United Arab Emirates</ly-as-275738></span>
          </div>
          <span aria-hidden="true" class="icon arrow-icon css-avaj45 ej69fo90" color="black" role="img">
 			<img src="{{"arrow-down.svg" | asset_url }}">
          </span>
        </span>
      </button>
      <span class="custom-select-hzn-options hidden">
        <ul tabindex="-1" role="listbox" id="select-locale-field-options" aria-disabled="false" aria-labelledby="select-locale-field-label" class="custom-select-hzn-options-list" aria-activedescendant="select-locale-field-option-en-gb">
          <li role="option" tabindex="-1" class="custom-select-hzn-option no-focus" id="select-locale-field-option-europe" aria-selected="false">
            <div class="locale-row locale-row-region"><span class="locale-row-title">{{settings.country_region_name1}}</span></div>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-fr-be" aria-selected="false">
            <a target="_blank" href="{{settings.country_link1}}">
              <span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name1}}
            </a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-nl-be" aria-selected="false">
            <a target="_blank" href="{{settings.country_link2}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name2}}</a>
          </li>
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option no-focus" id="select-locale-field-option-north-america" aria-selected="false">
            <div class="locale-row locale-row-region"><span class="locale-row-title">{{settings.country_region_name2}}</span></div>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-de-de" aria-selected="false">
            <a target="_blank" href="{{settings.country_link3}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name3}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-dk" aria-selected="false">
            <a target="_blank" href="{{settings.country_link4}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name4}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-es-es" aria-selected="false">
            <a target="_blank" href="{{settings.country_link5}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name5}}</a>
          </li>
          
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option no-focus" id="select-locale-field-option-north-america" aria-selected="false">
            <div class="locale-row locale-row-region"><span class="locale-row-title">{{settings.country_region_names2}}</span></div>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-fr-fr" aria-selected="false">
           <a target="_blank" href="{{settings.country_link6}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name6}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-it-it" aria-selected="false">
            <a target="_blank" href="{{settings.country_link7}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name7}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-gr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link8}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name8}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-ie" aria-selected="false">
            <a target="_blank" href="{{settings.country_link9}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name9}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-nl-nl" aria-selected="false">
            <a target="_blank" href="{{settings.country_link10}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name10}}</a>
          </li>
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus custom-select-hzn-option--selected" id="select-locale-field-option-en-gb" aria-selected="true">
            <a target="_blank" href="{{settings.country_link11}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name11}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-se" aria-selected="false">
            <a target="_blank" href="{{settings.country_link12}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name12}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-at" aria-selected="false">
            <a target="_blank" href="{{settings.country_link13}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name13}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-pl" aria-selected="false">
            <a target="_blank" href="{{settings.country_link14}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name14}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-pt" aria-selected="false">
            <a target="_blank" href="{{settings.country_link15}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name15}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-ro" aria-selected="false">
            <a target="_blank" href="{{settings.country_link16}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name16}}</a>
          </li>
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-us" aria-selected="false">
            <a target="_blank" href="{{settings.country_link17}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name17}}</a>
          </li>
         
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link18}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name18}}</a>
          </li>
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-us" aria-selected="false">
            <a target="_blank" href="{{settings.country_link19}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name19}}</a>
          </li>
         
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link20}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name20}}</a>
          </li>
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-us" aria-selected="false">
            <a target="_blank" href="{{settings.country_link21}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name21}}</a>
          </li>
         
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link22}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name22}}</a>
          </li>
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-us" aria-selected="false">
            <a target="_blank" href="{{settings.country_link23}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name23}}</a>
          </li>
         
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link24}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name24}}</a>
          </li>
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-en-us" aria-selected="false">
            <a target="_blank" href="{{settings.country_link25}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name25}}</a>
          </li>
         
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link26}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name26}}</a>
          </li>
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option no-focus" id="select-locale-field-option-north-america" aria-selected="false">
            <div class="locale-row locale-row-region"><span class="locale-row-title">{{settings.country_region_name3}}</span></div>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link27}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name27}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link28}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name28}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link29}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name29}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link30}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name30}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link31}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name31}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link32}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name32}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link33}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name33}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link34}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name34}}</a>
          </li>
          
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option no-focus" id="select-locale-field-option-north-america" aria-selected="false">
            <div class="locale-row locale-row-region"><span class="locale-row-title">{{settings.country_region_name4}}</span></div>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link35}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name35}}</a>
          </li>
          
          <li role="option" tabindex="-1" class="custom-select-hzn-option no-focus" id="select-locale-field-option-north-america" aria-selected="false">
            <div class="locale-row locale-row-region"><span class="locale-row-title">{{settings.country_region_name5}}</span></div>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
            <a target="_blank" href="{{settings.country_link36}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name36}}</a>
          </li>
          <li role="option" tabindex="-1" class="custom-select-hzn-option focus" id="select-locale-field-option-ko-kr" aria-selected="false">
           <a target="_blank" href="{{settings.country_link37}}"><span class="icon css-avaj45 ej69fo90" color="black" role="img">
                  <img src="{{"lenguage.svg" | asset_url }}">
                </span>{{settings.country_name37}}</a>
          </li>
          
        </ul>
      </span>
    </div>
  </div>
</div>