<div class="slideshow__slide slideshow__slide--{{ block.id }}" {{ block.shopify_attributes }}>
  <div class="banner-video">
    <a href="{{ block.settings.video-banner-link }}" class="banner-video-links"> </a>
    <div class="video-desktop">
    	<video autoplay loop muted 
               poster="
                       {% if block.settings.desk-poster != blank  %}
                       {{ block.settings.desk-poster | img_url: '1920x' }}{% endif %}">
          <source src="{{block.settings.desk-video}}" type="video/mp4" />
        </video>
    </div>
  	<div class="video-mobile">
    	<video autoplay loop muted 
                poster="
                       {% if block.settings.mob-poster != blank  %}
                       {{ block.settings.mob-poster | img_url: '1920x' }}{% endif %}">
          <source src="{{block.settings.mob-video}}" type="video/mp4" />
        </video>
    </div>
    
    
    {% if block.settings.show-content != blank %}
      <div class="video-content">
        <div class="video-content-in">
          <h3>{{ block.settings.video-subheading}}</h3>
          <h2> {{ block.settings.video-heading }}  </h2>
      {% if block.settings.url-btn != blank %}
          <a href="{{ block.settings.url-btn }}" class="shop-btn">
            {{ block.settings.video-btn }}
          </a>
        {% endif %}
          <div class="video-content-info">
            <p>{{ block.settings.video-info }} </p>
          </div>
        </div>
      </div>
   {% endif %}
    
  </div>
</div>  