<div data-section-type="banner-section" class="index-section">
  <div id="banner_{{ block.id }}" class="banner_wrapper landing_teaser_stage__{{block.settings.width}}">
    <div class="page-width custbanner banner banner_{{ block.id }}" data-id="{{ block.id }}" >
      <div class="banner_image_box preload_img">
        {%- if block.settings.link != blank -%}<a href="{{block.settings.link}}">{%- endif -%}
          <picture>
            <!--[if IE 9]>
            <audio><![endif]-->
            <source data-srcset="{{ block.settings.image_mobile_1 | img_url: '500x' }}" media="(max-width: 420px)" srcset="{{ block.settings.image_mobile_1 | img_url: '500x' }}">
            <source data-srcset="{{ block.settings.image_mobile_1 | img_url: '800x' }}" media="(max-width: 759px)" srcset="{{ block.settings.image_mobile_1 | img_url: '800x' }}">
            <source data-srcset="{{ block.settings.image_tablet_1 | img_url: '1024x' }}" media="(max-width: 1024px)" srcset="{{ block.settings.image_tablet_1 | img_url: '1024x' }}">
            <source data-srcset="{{ block.settings.image_1_Desktop_2 | img_url: '1450x' }}" media="(max-width: 1449px)" srcset="{{ block.settings.image_1_Desktop_2 | img_url: '1450x' }}">
            <source data-srcset="{{ block.settings.image_1_Desktop_1 | img_url: '2048x'}}" media="(min-width: 1450px)" srcset="{{ block.settings.image_1_Desktop_1 | img_url: '2048x'}}">
            <!--[if IE 9]></audio><![endif]-->
            <img data-src="{{ block.settings.image_1_Desktop_1 | img_url: '2048x'}}" data-src="{{ block.settings.image_1_Desktop_1 | img_url: '1024x'}}" class="content-stage-item__image" alt="" title="">
          </picture>

          {%- if block.settings.link != blank -%}</a>{%- endif -%}
        </div>
        <div class="slideshow_2_text">
            {%- if block.settings.title_box != blank -%}
            <h2 class="oc-teaser-stage__title">
              {%- if block.settings.link != blank -%}<a href="{{block.settings.link}}">{%- endif -%}
                {{ block.settings.title_box }}
                {{ block.settings.title_box_ar }}
              {%- if block.settings.link != blank -%}</a>{%- endif -%}
            </h2>
            {%- endif -%}
            {%- if block.settings.text != blank -%}
            <div class="text">
              {%- if block.settings.link != blank -%}<a href="{{block.settings.link}}">{%- endif -%}
                <span class="css_EN">{{ block.settings.text }}</span>
                <span class="css_AR">{{ block.settings.text_ar }}</span>
              {%- if block.settings.link != blank -%}</a>{%- endif -%}
            </div>
            {%- endif -%}
            {%- if block.settings.link_text != blank and block.settings.link != blank -%}
            <div class="link">
              <a href="{{block.settings.link}}" class="css_EN">{{ block.settings.link_text }}</a>
              <a href="{{block.settings.link}}" class="css_AR">{{ block.settings.link_text_ar }}</a>
            </div>
            {%- endif -%}
        </div>
    </div>
  </div>
</div>
