<h2 id="size-chart" class="title-with-level size-guide-title font-century-std size-m uppercase"><span class="multiline-text"><ly-as-275776>SIZE CHART</ly-as-275776> </span></h2><div class="tabs size-guide-tabs"><ul role="tablist" class="tabs-header"><li role="tab" id="equivalent-sizes-tab-header" aria-selected="true" aria-controls="equivalent-sizes-tab-content" tabindex="0" class="tabs-header-item-container"><span class="tabs-header-item tabs-header-item-selected"><span class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-275777>EQUIVALENT SIZES</ly-as-275777></span></span></span></li><li role="tab" id="measurement-guide-tab-header" aria-selected="false" aria-controls="measurement-guide-tab-content" tabindex="-1" class="tabs-header-item-container"><span class="tabs-header-item"><span class="title-with-level font-century-std size-s uppercase"><span class="multiline-text"><ly-as-275778>MEASUREMENT GUIDE</ly-as-275778> </span></span></span></li></ul><div class="tabs-content"><div role="tabpanel" id="equivalent-sizes-tab-content" aria-hidden="false" tabindex="0" aria-labelledby="equivalent-sizes-tab-header" class="content visible"><div><div id="size-tab-0" class="tab-content tab-content--active js-tab-content">

    <!-- Desktop -->
    <p class="margin text-centered small--hide">
        <ly-as-275779>Please consult the sizing chart below to find all equivalent Dior belt sizes.</ly-as-275779>
    </p>
    <h5 class="small--hide"><ly-as-275777>EQUIVALENT SIZES</ly-as-275777></h5>
    <table class="cols-10-with-title js-table active small--hide">
        <thead>
        <tr>
            <th class="title"><ly-as-275780>Dior</ly-as-275780></th>
            <th>80</th>
            <th>85</th>
            <th>90</th>
            <th>95</th>
            <th>100</th>
            <th>105</th>
            <th>110</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><ly-as-275781>ITA (Trousers)</ly-as-275781></td>
            <td>44</td>
            <td>46</td>
            <td>48</td>
            <td>50-52</td>
            <td>54</td>
            <td>56</td>
            <td>58</td>
        </tr>
        <tr class="grey">
            <td class="title"><ly-as-275782>US &amp; UK (Jeans)</ly-as-275782></td>
            <td>28</td>
            <td>29-30</td>
            <td>31-32</td>
            <td>33-34</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
        </tr>
        </tbody>
    </table>

    <!-- Mobile -->
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <p>    <ly-as-275779>Please consult the sizing chart below to find all equivalent Dior belt sizes.</ly-as-275779></p>
    </div>
    <div class="size-grid padded-content medium-up--hide">
        <table class="cols-6">
            <thead>
            <tr><td><ly-as-275780>Dior</ly-as-275780></td>
                <td><ly-as-275781>ITA (Trousers)</ly-as-275781></td>
                <td><ly-as-275782>US &amp; UK (Jeans)</ly-as-275782></td>
            </tr></thead>
            <tbody>
            <tr>
                <td class="size-grid-black">80</td>
                <td>44</td>
                <td>28</td>
            </tr>
            <tr>
                <td class="size-grid-black">85</td>
                <td>46</td>
                <td>29-30</td>
            </tr>
            <tr>
                <td class="size-grid-black">90</td>
                <td>48</td>
                <td>31-32</td>
            </tr>
            <tr>
                <td class="size-grid-black">95</td>
                <td>50-52</td>
                <td>33-34</td>
            </tr>
            <tr>
                <td class="size-grid-black">100</td>
                <td>54</td>
                <td>36</td>
            </tr>
            <tr>
                <td class="size-grid-black">105</td>
                <td>56</td>
                <td>38</td>
            </tr>
            <tr>
                <td class="size-grid-black">110</td>
                <td>58</td>
                <td>40</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275783>TRYING ON SERVICE</ly-as-275783></h5>

            <p></p><p><ly-as-275784>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275784></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275785>ANY QUESTIONS?</ly-as-275785></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275786>Our advisers</ly-as-275786></a> <ly-as-275787>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275787></p><p></p>
        </div>
    </div>

</div></div></div><div role="tabpanel" id="measurement-guide-tab-content" aria-hidden="true" aria-labelledby="measurement-guide-tab-header" class="content hidden"><div><div id="size-tab-1" class="tab-content js-tab-content">
    <h4 class="small--hide"><ly-as-275788>CALCULATE YOUR  SIZE</ly-as-275788></h4>
    <div class="margin small--hide">
        <div class="grid">
            <div class="column column-no-margin one-half">
                <div class="step">
                    <span class="num">1</span>
                    <h5 class="label"><ly-as-275789>TAKE YOUR WAIST MEASUREMENT</ly-as-275789></h5>
                </div>
                <p></p><p><ly-as-275790>The waist is measured at the thinnest part, keeping the tape measure horizontal.</ly-as-275790></p><p></p>

                <div class="step">
                    <span class="num">2</span>
                    <h5 class="label"><ly-as-275791>MEASURE YOUR HIP CIRCUMFERENCE</ly-as-275791></h5>
                </div>
                <p></p><p><ly-as-275792>Your hip circumference is measured at the widest part, keeping the tape measure horizontal.</ly-as-275792></p><p></p>


            </div>
            <div class="column one-half">
                <img src="{{ '9485238-16-eng-GB.jpg' | asset_img_url: 'master' }}">
            </div>
        </div>
    </div>

    <h5 class="small--hide"><ly-as-275778>MEASUREMENT GUIDE</ly-as-275778></h5>
    <table class="cols-10-with-title js-table active small--hide">
        <thead>
        <tr>
            <th class="title"><ly-as-275780>Dior</ly-as-275780></th>
            <th>80</th>
            <th>85</th>
            <th>90</th>
            <th>95</th>
            <th>100</th>
            <th>105</th>
            <th>110</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><ly-as-275793>In centimetres</ly-as-275793></td>
            <td>70-72</td>
            <td>73-76</td>
            <td>77-81</td>
            <td>82-87</td>
            <td>88-95</td>
            <td>96-97</td>
            <td>98-102</td>
        </tr>
        <tr class="grey">
            <td class="title"><ly-as-275794>In inches</ly-as-275794></td>
            <td>28</td>
            <td>29-30</td>
            <td>31-32</td>
            <td>33-34</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
        </tr>
        </tbody>
    </table>

    <!-- Mobile -->
    <h4 class="subtitle medium-up--hide"><ly-as-275788>CALCULATE YOUR  SIZE</ly-as-275788></h4>
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <h5 class="title-3"><ly-as-275795>1. TAKE YOUR WAIST MEASUREMENT</ly-as-275795></h5>
        <p><ly-as-275790>The waist is measured at the thinnest part, keeping the tape measure horizontal.</ly-as-275790></p>
    </div>

    <div class="rich-text margin-bottom-20 medium-up--hide">
        <h5 class="title-3"><ly-as-275796>2. MEASURE YOUR HIP CIRCUMFERENCE</ly-as-275796></h5>
        <p><ly-as-275792>Your hip circumference is measured at the widest part, keeping the tape measure horizontal.</ly-as-275792></p>
    </div>


    <img src="{{ '9485238-16-eng-GB.webp' | asset_img_url: 'master' }}" class="sizes-image-guide medium-up--hide">

    <div class="size-grid padded-content medium-up--hide">
        <table class="cols-6">
            <thead>
            <tr><td><ly-as-275780>Dior</ly-as-275780></td>
                <td><ly-as-275793>In centimetres</ly-as-275793></td>
                <td><ly-as-275794>In inches</ly-as-275794></td>
            </tr></thead>
            <tbody>
            <tr>
                <td class="size-grid-black">80</td>
                <td>70-72</td>
                <td>28</td>
            </tr>
            <tr>
                <td class="size-grid-black">85</td>
                <td>73-76</td>
                <td>29-30</td>
            </tr>
            <tr>
                <td class="size-grid-black">90</td>
                <td>77-81</td>
                <td>31-32</td>
            </tr>
            <tr>
                <td class="size-grid-black">95</td>
                <td>82-87</td>
                <td>33-34</td>
            </tr>
            <tr>
                <td class="size-grid-black">100</td>
                <td>88-95</td>
                <td>36</td>
            </tr>
            <tr>
                <td class="size-grid-black">105</td>
                <td>96-97</td>
                <td>38</td>
            </tr>
            <tr>
                <td class="size-grid-black">110</td>
                <td>98-102</td>
                <td>40</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275783>TRYING ON SERVICE</ly-as-275783></h5>

            <p></p><p><ly-as-275784>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275784></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275785>ANY QUESTIONS?</ly-as-275785></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275786>Our advisers</ly-as-275786></a> <ly-as-275787>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275787></p><p></p>
        </div>
    </div>


</div></div></div></div></div>
