<h2 id="size-chart" class="title-with-level size-guide-title font-century-std size-m uppercase"><span class="multiline-text"><ly-as-275923>SIZE CHART</ly-as-275923> </span></h2><div class="tabs size-guide-tabs"><ul role="tablist" class="tabs-header"><li role="tab" id="equivalent-sizes-tab-header" aria-selected="true" aria-controls="equivalent-sizes-tab-content" tabindex="0" class="tabs-header-item-container"><span class="tabs-header-item tabs-header-item-selected"><span class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-275924>EQUIVALENT SIZES</ly-as-275924></span></span></span></li><li role="tab" id="heel-heights-tab-header" aria-selected="false" aria-controls="heel-heights-tab-content" tabindex="-1" class="tabs-header-item-container"><span class="tabs-header-item"><span class="title-with-level font-century-std size-s uppercase"><span class="multiline-text"><ly-as-275925>HEEL HEIGHTS</ly-as-275925></span></span></span></li></ul><div class="tabs-content"><div role="tabpanel" id="equivalent-sizes-tab-content" aria-hidden="false" tabindex="0" aria-labelledby="equivalent-sizes-tab-header" class="content visible"><div><div id="size-tab-0" class="tab-content tab-content--active js-tab-content">
    <p class="margin text-centered small--hide">
        <ly-as-275926>Christian Dior shoes are made in Italy and come in Italian sizes.</ly-as-275926> <br>
        <ly-as-275927>To find out the equivalent sizes  by country, please see the grid below.</ly-as-275927>
    </p>
    <h5 class="small--hide"><ly-as-275924>EQUIVALENT SIZES</ly-as-275924></h5>
    <table class="cols-17-with-title js-table active small--hide">
        <thead>
        <tr>
            <th class="title"><ly-as-275928>Dior</ly-as-275928></th>
            <th>34</th>
            <th>34,5</th>
            <th>35</th>
            <th>35,5</th>
            <th>36</th>
            <th>36,5</th>
            <th>37</th>
            <th>37,5</th>
            <th>38</th>
            <th>38,5</th>
            <th>39</th>
            <th>39,5</th>
            <th>40</th>
            <th>40,5</th>
            <th>41</th>
            <th>41,5</th>
            <th>42</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><ly-as-275929>FR</ly-as-275929></td>
            <td>35</td>
            <td>35,5</td>
            <td>36</td>
            <td>36,5</td>
            <td>37</td>
            <td>37,5</td>
            <td>38</td>
            <td>38,5</td>
            <td>39</td>
            <td>39,5</td>
            <td>40</td>
            <td>40,5</td>
            <td>41</td>
            <td>41,5</td>
            <td>42</td>
            <td>42,5</td>
            <td>43</td>
        </tr>
        <tr class="grey">
            <td class="title"><ly-as-275930>ITA</ly-as-275930></td>
            <td>34</td>
            <td>34,5</td>
            <td>35</td>
            <td>35,5</td>
            <td>36</td>
            <td>36,5</td>
            <td>37</td>
            <td>37,5</td>
            <td>38</td>
            <td>38,5</td>
            <td>39</td>
            <td>39,5</td>
            <td>40</td>
            <td>40,5</td>
            <td>41</td>
            <td>41,5</td>
            <td>42</td>
        </tr>
        <tr>
            <td class="title"><ly-as-275931>UK</ly-as-275931></td>
            <td>1</td>
            <td>1,5</td>
            <td>2</td>
            <td>2,5</td>
            <td>3</td>
            <td>3,5</td>
            <td>4</td>
            <td>4,5</td>
            <td>5</td>
            <td>5,5</td>
            <td>6</td>
            <td>6,5</td>
            <td>7</td>
            <td>7,5</td>
            <td>8</td>
            <td>8,5</td>
            <td>9</td>
        </tr>
        <tr class="grey">
            <td class="title"><ly-as-275932>US</ly-as-275932></td>
            <td>4</td>
            <td>4,5</td>
            <td>5</td>
            <td>5,5</td>
            <td>6</td>
            <td>6,5</td>
            <td>7</td>
            <td>7,5</td>
            <td>8</td>
            <td>8,5</td>
            <td>9</td>
            <td>9,5</td>
            <td>10</td>
            <td>10,5</td>
            <td>11</td>
            <td>11,5</td>
            <td>12</td>
        </tr>
        <tr>
            <td class="title"><ly-as-275933>KR</ly-as-275933></td>
            <td>210</td>
            <td>215</td>
            <td>220</td>
            <td>225</td>
            <td>230</td>
            <td>235</td>
            <td>240</td>
            <td>245</td>
            <td>250</td>
            <td>255</td>
            <td>260</td>
            <td>265</td>
            <td>270</td>
            <td>275</td>
            <td>280</td>
            <td>285</td>
            <td>290</td>
        </tr>
        </tbody>
    </table>


    <!-- Mobile -->
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <p>    <ly-as-275926>Christian Dior shoes are made in Italy and come in Italian sizes.</ly-as-275926> <br>
            <ly-as-275927>To find out the equivalent sizes  by country, please see the grid below.</ly-as-275927></p>
    </div>
    <div class="size-grid padded-content medium-up--hide">
        <table class="cols-5">
            <thead>
            <tr><td><ly-as-275928>Dior</ly-as-275928></td>
                <td><ly-as-275929>FR</ly-as-275929></td>
                <td><ly-as-275930>ITA</ly-as-275930></td>
                <td><ly-as-275931>UK</ly-as-275931></td>
                <td><ly-as-275932>US</ly-as-275932></td>
                <td><ly-as-275933>KR</ly-as-275933></td>
            </tr></thead>
            <tbody>
            <tr>
                <td class="size-grid-black">34</td>
                <td>35</td>
                <td>34</td>
                <td>1</td>
                <td>4</td>
                <td>210</td>
            </tr>
            <tr>
                <td class="size-grid-black">34,5</td>
                <td>35,5</td>
                <td>34,5</td>
                <td>1,5</td>
                <td>4,5</td>
                <td>215</td>
            </tr>
            <tr>
                <td class="size-grid-black">35</td>
                <td>36</td>
                <td>35</td>
                <td>2</td>
                <td>5</td>
                <td>220</td>
            </tr>
            <tr>
                <td class="size-grid-black">35,5</td>
                <td>36,5</td>
                <td>35,5</td>
                <td>2,5</td>
                <td>5,5</td>
                <td>225</td>
            </tr>
            <tr>
                <td class="size-grid-black">36</td>
                <td>37</td>
                <td>36</td>
                <td>3</td>
                <td>6</td>
                <td>230</td>
            </tr>
            <tr>
                <td class="size-grid-black">36,5</td>
                <td>37,5</td>
                <td>36,5</td>
                <td>3,5</td>
                <td>6,5</td>
                <td>235</td>
            </tr>
            <tr>
                <td class="size-grid-black">37</td>
                <td>38</td>
                <td>37</td>
                <td>4</td>
                <td>7</td>
                <td>240</td>
            </tr>
            <tr>
                <td class="size-grid-black">37,5</td>
                <td>38,5</td>
                <td>37,5</td>
                <td>4,5</td>
                <td>7,5</td>
                <td>245</td>
            </tr>
            <tr>
                <td class="size-grid-black">38</td>
                <td>39</td>
                <td>38</td>
                <td>5</td>
                <td>8</td>
                <td>250</td>
            </tr>
            <tr>
                <td class="size-grid-black">38,5</td>
                <td>39,5</td>
                <td>38,5</td>
                <td>5,5</td>
                <td>8,5</td>
                <td>255</td>
            </tr>
            <tr>
                <td class="size-grid-black">39</td>
                <td>40</td>
                <td>39</td>
                <td>6</td>
                <td>9</td>
                <td>260</td>
            </tr>
            <tr>
                <td class="size-grid-black">39,5</td>
                <td>40,5</td>
                <td>39,5</td>
                <td>6,5</td>
                <td>9,5</td>
                <td>265</td>
            </tr>
            <tr>
                <td class="size-grid-black">40</td>
                <td>41</td>
                <td>40</td>
                <td>7</td>
                <td>10</td>
                <td>270</td>
            </tr>
            <tr>
                <td class="size-grid-black">40,5</td>
                <td>41,5</td>
                <td>40,5</td>
                <td>7,5</td>
                <td>10,5</td>
                <td>275</td>
            </tr>
            <tr>
                <td class="size-grid-black">41</td>
                <td>42</td>
                <td>41</td>
                <td>8</td>
                <td>11</td>
                <td>280</td>
            </tr>
            <tr>
                <td class="size-grid-black">41,5</td>
                <td>42,5</td>
                <td>41,5</td>
                <td>8,5</td>
                <td>11,5</td>
                <td>285</td>
            </tr>
            <tr>
                <td class="size-grid-black">42</td>
                <td>43</td>
                <td>42</td>
                <td>9</td>
                <td>12</td>
                <td>290</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275934>TRYING ON SERVICE</ly-as-275934></h5>

            <p></p><p><ly-as-275935>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275935></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275936>ANY QUESTIONS?</ly-as-275936></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275937>Our advisers</ly-as-275937></a> <ly-as-275938>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275938></p><p></p>
        </div>
    </div>

</div></div></div><div role="tabpanel" id="heel-heights-tab-content" aria-hidden="true" aria-labelledby="heel-heights-tab-header" class="content hidden"><div><div id="size-tab-1" class="tab-content js-tab-content">
    <p class="margin text-centered small--hide">    <ly-as-275939>Christian Dior shoes have different heel heights.</ly-as-275939> <br>
        <ly-as-275940>To find out a model's heel height, please see the characteristics listed on its product page.</ly-as-275940></p>
    <div class="margin-small small--hide">
        <img src="{{ '9483816-3-eng-GB.jpg' | asset_img_url: 'master' }}">
    </div>

    <!-- Mobile -->
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <p>    <ly-as-275939>Christian Dior shoes have different heel heights.</ly-as-275939> <br>
            <ly-as-275940>To find out a model's heel height, please see the characteristics listed on its product page.</ly-as-275940></p>
    </div>

    <img src="{{ '9483817-3-eng-GB.jpg' | asset_img_url: 'master' }}" class="sizes-image-guide medium-up--hide">

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275934>TRYING ON SERVICE</ly-as-275934></h5>

            <p></p><p><ly-as-275935>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275935></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275936>ANY QUESTIONS?</ly-as-275936></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275937>Our advisers</ly-as-275937></a> <ly-as-275938>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275938></p><p></p>
        </div>
    </div>

</div></div></div></div></div>
