<h2 id="size-chart" class="title-with-level size-guide-title font-century-std size-m uppercase"><span class="multiline-text"><ly-as-275888>SIZE CHART</ly-as-275888></span></h2><div class="tabs size-guide-tabs"><ul role="tablist" class="tabs-header"><li role="tab" id="equivalent-sizes-tab-header" aria-selected="true" aria-controls="equivalent-sizes-tab-content" tabindex="0" class="tabs-header-item-container"><span class="tabs-header-item tabs-header-item-selected"><span class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-275889>EQUIVALENT SIZES</ly-as-275889></span></span></span></li><li role="tab" id="how-to-find-your-size-tab-header" aria-selected="false" aria-controls="how-to-find-your-size-tab-content" tabindex="-1" class="tabs-header-item-container"><span class="tabs-header-item"><span class="title-with-level font-century-std size-s uppercase"><span class="multiline-text"><ly-as-275890>HOW TO FIND YOUR SIZE?</ly-as-275890></span></span></span></li></ul><div class="tabs-content"><div role="tabpanel" id="equivalent-sizes-tab-content" aria-hidden="false" aria-labelledby="equivalent-sizes-tab-header" class="content visible" tabindex="0"><div><div id="size-tab-0" class="tab-content tab-content--active js-tab-content">
    <p class="margin text-centered small--hide">
        <ly-as-275891>To find out the equivalent sizes by country, please see the grid below.</ly-as-275891>
    </p>
    <h5 class="small--hide"><ly-as-275892>Measurement table</ly-as-275892></h5>
    <table class="cols-5-with-title js-table active small--hide">
        <thead>
        <tr>
            <th><ly-as-275893>Size Dior</ly-as-275893></th>
            <th>34</th>
            <th>36</th>
            <th>38</th>
            <th>40</th>
            <th>42</th>
            <th>44</th>
            <th>46</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><ly-as-275894>Size SML</ly-as-275894></td>
            <td><ly-as-275895>XS</ly-as-275895></td>
            <td>S</td>
            <td>M</td>
            <td>L</td>
            <td><ly-as-275896>XL</ly-as-275896></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <!-- Mobile -->
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <p>    <ly-as-275891>To find out the equivalent sizes by country, please see the grid below.</ly-as-275891></p>
    </div>
    <div class="size-grid padded-content medium-up--hide">
        <table class="cols-2">
            <tbody><tr>
                <td class="size-grid-white"><ly-as-275893>Size Dior</ly-as-275893></td>
                <td class="size-grid-white"><ly-as-275894>Size SML</ly-as-275894></td>
            </tr>
            <tr>
                <td class="size-grid-black">34</td>
                <td><ly-as-275895>XS</ly-as-275895></td>
            </tr>
            <tr>
                <td class="size-grid-black">36</td>
                <td>S</td>
            </tr>
            <tr>
                <td class="size-grid-black">38</td>
                <td>M</td>
            </tr>
            <tr>
                <td class="size-grid-black">40</td>
                <td>L</td>
            </tr>
            <tr>
                <td class="size-grid-black">42</td>
                <td><ly-as-275896>XL</ly-as-275896></td>
            </tr>
            <tr>
                <td class="size-grid-black">44</td>
                <td></td>
            </tr>
            <tr>
                <td class="size-grid-black">46</td>
                <td></td>
            </tr>
            </tbody></table>
    </div>

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275897>TRYING ON SERVICE</ly-as-275897></h5>

            <p></p><p><ly-as-275898>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275898></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275899>ANY QUESTIONS?</ly-as-275899></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275900>Our advisers</ly-as-275900></a> <ly-as-275901>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275901></p><p></p>
        </div>
    </div>

</div></div></div><div role="tabpanel" id="how-to-find-your-size-tab-content" aria-hidden="true" aria-labelledby="how-to-find-your-size-tab-header" class="content hidden"><div><div id="size-tab-1" class="tab-content js-tab-content">
    <h4 class="small--hide"><ly-as-275902>CALCULATE YOUR  SIZE</ly-as-275902></h4>
    <div class="margin small--hide">
        <div class="grid">
            <div class="column column-no-margin one-half">
                <div class="step">
                    <span class="num">1</span>
                    <h5 class="label"><ly-as-275903>TAKE YOUR CHEST MEASUREMENT</ly-as-275903></h5>
                </div>
                <p></p><p><ly-as-275904>Your chest is measured at the widest point of your chest and shoulder blades, with your arms hanging by your sides.</ly-as-275904></p><p></p>

                <div class="step">
                    <span class="num">2</span>
                    <h5 class="label"><ly-as-275905>TAKE YOUR WAIST MEASUREMENT</ly-as-275905></h5>
                </div>
                <p></p><p><ly-as-275906>Your waist is measured at naval level, from the middle of the front to the middle of the back.</ly-as-275906></p><p></p>

                <div class="step">
                    <span class="num">3</span>
                    <h5 class="label"><ly-as-275907>MEASURE THE SLEEVE LENGTH</ly-as-275907></h5>
                </div>
                <p></p><p><ly-as-275908>The sleeve length is measured from the top of the shoulder to the bottom of the cuff.</ly-as-275908></p><p></p>

            </div>
            <div class="column one-half">
                <img src="{{ '15202399-4-eng-GB.jpg' | asset_img_url: 'master' }}">
            </div>
        </div>
    </div>

    <h5 class="small--hide"><ly-as-275909>Calculate your size</ly-as-275909></h5>
    <table class="cols-4-with-title js-table active small--hide">
        <thead>
        <tr>
            <th></th>
            <th colspan="2"><ly-as-275910>UPPER-BODY</ly-as-275910></th>
            <th colspan="2"><ly-as-275911>LOWER-BODY</ly-as-275911></th>
        </tr>
        </thead>
        <tbody>
        <tr class="grey">
            <td><ly-as-275912>Dior Size</ly-as-275912></td>
            <td><ly-as-275913>Chest Measurement</ly-as-275913></td>
            <td><ly-as-275914>Waist Measurement</ly-as-275914></td>
            <td><ly-as-275915>Hip Measurement</ly-as-275915></td>
            <td><ly-as-275916>Leg Length</ly-as-275916></td>
        </tr>
        <tr>
            <td>34</td>
            <td>81</td>
            <td>61</td>
            <td>86</td>
            <td>109.1</td>
        </tr>
        <tr class="grey">
            <td>36</td>
            <td>84</td>
            <td>64</td>
            <td>89</td>
            <td>109.5</td>
        </tr>
        <tr>
            <td>38</td>
            <td>87</td>
            <td>67</td>
            <td>92</td>
            <td>109.9</td>
        </tr>
        <tr class="grey">
            <td>40</td>
            <td>91</td>
            <td>71</td>
            <td>96</td>
            <td>110.4</td>
        </tr>
        <tr>
            <td>42</td>
            <td>95</td>
            <td>75</td>
            <td>100</td>
            <td>110.9</td>
        </tr>
        <tr class="grey">
            <td>44</td>
            <td>99</td>
            <td>79</td>
            <td>104</td>
            <td>114.4</td>
        </tr>
        <tr>
            <td>46</td>
            <td>103</td>
            <td>83</td>
            <td>108</td>
            <td>111.9</td>
        </tr>
        </tbody>
    </table>

    <!-- Mobile -->
    <h4 class="subtitle medium-up--hide"><ly-as-275902>CALCULATE YOUR  SIZE</ly-as-275902></h4>
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <h5 class="title-3"><ly-as-275917>1. TAKE YOUR CHEST MEASUREMENT</ly-as-275917></h5>
        <p><ly-as-275904>Your chest is measured at the widest point of your chest and shoulder blades, with your arms hanging by your sides.</ly-as-275904></p>
    </div>

    <div class="rich-text margin-bottom-20 medium-up--hide">
        <h5 class="title-3"><ly-as-275918>2. TAKE YOUR WAIST MEASUREMENT</ly-as-275918></h5>
        <p><ly-as-275906>Your waist is measured at naval level, from the middle of the front to the middle of the back.</ly-as-275906></p>
    </div>

    <div class="rich-text margin-bottom-20 medium-up--hide">
        <h5 class="title-3"><ly-as-275919>3. MEASURE THE SLEEVE LENGTH</ly-as-275919></h5>
        <p><ly-as-275908>The sleeve length is measured from the top of the shoulder to the bottom of the cuff.</ly-as-275908></p>
    </div>


    <img src="{{'15202409-4-eng-GB.jpg' | asset_img_url: 'master' }}" class="sizes-image-guide medium-up--hide">


    <div class="size-grid padded-content medium-up--hide">
        <table class="cols-4">
            <tbody><tr>
                <td colspan="4"><ly-as-275910>UPPER-BODY</ly-as-275910></td>
            </tr>
            <tr>
                <td class="size-grid-white"><ly-as-275912>Dior Size</ly-as-275912></td>
                <td class="size-grid-white"><ly-as-275920>Chest</ly-as-275920></td>
                <td class="size-grid-white"><ly-as-275921>Waist</ly-as-275921></td>
                <td class="size-grid-white"><ly-as-275922>Hip</ly-as-275922></td>
            </tr>
            <tr>
                <td class="size-grid-black">34</td>
                <td>81</td>
                <td>61</td>
                <td>86</td>
            </tr>
            <tr>
                <td class="size-grid-black">36</td>
                <td>84</td>
                <td>64</td>
                <td>89</td>
            </tr>
            <tr>
                <td class="size-grid-black">38</td>
                <td>87</td>
                <td>67</td>
                <td>92</td>
            </tr>
            <tr>
                <td class="size-grid-black">40</td>
                <td>91</td>
                <td>71</td>
                <td>96</td>
            </tr>
            <tr>
                <td class="size-grid-black">42</td>
                <td>95</td>
                <td>75</td>
                <td>100</td>
            </tr>
            <tr>
                <td class="size-grid-black">44</td>
                <td>99</td>
                <td>79</td>
                <td>104</td>
            </tr>
            <tr>
                <td class="size-grid-black">46</td>
                <td>103</td>
                <td>83</td>
                <td>108</td>
            </tr>
            </tbody></table>


        <table class="cols-4" style="margin-top: 40px;">
            <tbody><tr>
                <td colspan="2"><ly-as-275911>LOWER-BODY</ly-as-275911></td>
            </tr>
            <tr>
                <td class="size-grid-white"><ly-as-275912>Dior Size</ly-as-275912></td>
                <td class="size-grid-white"><ly-as-275916>Leg Length</ly-as-275916></td>
            </tr>
            <tr>
                <td class="size-grid-black">34</td>
                <td>109.1</td>
            </tr>
            <tr>
                <td class="size-grid-black">36</td>
                <td>109.5</td>
            </tr>
            <tr>
                <td class="size-grid-black">38</td>
                <td>109.9</td>
            </tr>
            <tr>
                <td class="size-grid-black">40</td>
                <td>110.4</td>
            </tr>
            <tr>
                <td class="size-grid-black">42</td>
                <td>110.9</td>
            </tr>
            <tr>
                <td class="size-grid-black">44</td>
                <td>114.4</td>
            </tr>
            <tr>
                <td class="size-grid-black">46</td>
                <td>111.9</td>
            </tr>
            </tbody></table>
    </div>

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275897>TRYING ON SERVICE</ly-as-275897></h5>

            <p></p><p><ly-as-275898>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275898></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275899>ANY QUESTIONS?</ly-as-275899></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275900>Our advisers</ly-as-275900></a> <ly-as-275901>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275901></p><p></p>
        </div>
    </div>


</div></div></div></div></div>
