<h2 id="size-chart" class="title-with-level size-guide-title font-century-std size-m uppercase"><span class="multiline-text"><ly-as-275861>SIZE CHART</ly-as-275861> </span></h2><div class="tabs size-guide-tabs"><ul role="tablist" class="tabs-header"><li role="tab" id="printable-ring-sizer-tab-header" aria-selected="true" aria-controls="printable-ring-sizer-tab-content" tabindex="0" class="tabs-header-item-container"><span class="tabs-header-item tabs-header-item-selected"><span class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-275862>PRINTABLE RING SIZER</ly-as-275862></span></span></span></li><li role="tab" id="equivalent-sizes-tab-header" aria-selected="false" aria-controls="equivalent-sizes-tab-content" tabindex="-1" class="tabs-header-item-container"><span class="tabs-header-item"><span class="title-with-level font-century-std size-s uppercase"><span class="multiline-text"><ly-as-275863>EQUIVALENT SIZES</ly-as-275863></span></span></span></li></ul><div class="tabs-content"><div role="tabpanel" id="printable-ring-sizer-tab-content" aria-hidden="false" tabindex="0" aria-labelledby="printable-ring-sizer-tab-header" class="content visible"><div><div id="size-tab-0" class="tab-content tab-content--active js-tab-content">
    <h4 class="small--hide"><ly-as-275864>CALCULATE YOUR  SIZE</ly-as-275864></h4>
    <div class="step small--hide">
        <span class="num">1</span>
        <h5 class="label"><ly-as-275865>HOW TO USE THE RING SIZER</ly-as-275865></h5>
    </div>
    <p class="margin small--hide">
        <ly-as-275866>To determine the best size for you, take a ring that fits perfectly and place it on the circle that has the most similar diameter. If your ring is between two sizes, we recommend choosing the larger one.</ly-as-275866>
    </p>
    <div class="helper small--hide">
        <table>
            <tbody><tr>
                <td>
                    <div class="column one-half">
                        <img src="{{ '9485477-29-eng-GB.png' | asset_img_url: 'master' }}">
                    </div>
                </td>
                <td>
                    <p class="margin">
                        <ly-as-275867>If the outer circumference of the circle does not fill the inner circumference of your ring, please choose a larger size</ly-as-275867>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="column one-half">
                        <img src="{{ '9485479-29-eng-GB.png' | asset_img_url: 'master' }}">
                    </div>
                </td>
                <td>
                    <p class="margin">
                        <ly-as-275868>If the outer circumference of the circle surpasses the outer circumference of your ring, please choose a smaller size.</ly-as-275868>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="column one-half">
                        <img src="{{ '9485481-29-eng-GB.png' | asset_img_url: 'master' }}">
                    </div>
                </td>
                <td>
                    <p class="margin">
                        <ly-as-275869>If the inner circumference of the ring is perfectly aligned with the outer circumference of the circle, please choose the size indicated under the chosen circle.</ly-as-275869><br>
                    </p>
                </td>
            </tr>
            </tbody></table>
    </div>


    <div class="step small--hide">
        <span class="num">2</span>
        <h5 class="label"><ly-as-275870>PRINT THE RING SIZER</ly-as-275870></h5>
    </div>

    <div class="margin small--hide">
        <ly-as-275871>Print the ring sizer using the button below then place your ring on the circles to identify the diameter that corresponds to that of your ring.</ly-as-275871>
    </div>

    <div class="margin small--hide">
        <img src="{{ '9485487-53-eng-GB.jpg' | asset_img_url: 'master' }}">
    </div>

    <div class="margin text-centered small--hide">
        <a target="_blank" href="https://www.dior.com/en_gb/print?image=%2Fcouture%2Fvar%2Fdior%2Fstorage%2Fimages%2Fsize-guide%2Fguide-des-tailles-bagues%2Fbaguier-a-imprimer%2F9485487-53-eng-GB%2Fprintable-ring-sizer.jpg" class="btn btn-dark js-print"><ly-as-275870>PRINT THE RING SIZER</ly-as-275870></a>
    </div>

    <!-- Mobile -->
    <div class="accordion-trigger-2 js-accordion medium-up--hide" data-accordion-target="#ring-how-to">
        <span><ly-as-275872>HOW TO MEASURE YOUR RING</ly-as-275872></span>
    </div>
    <div id="ring-how-to" class="accordion-section sizes-how-to padded-content medium-up--hide">
        <div class="rich-text">
            <br>
            <ly-as-275873>To choose the best size for you, take a ring that fits perfectly and a tape measure in cm.</ly-as-275873><br>
            <ly-as-275874>Take the following simple measurement:</ly-as-275874>
        </div>
        <img src="{{'9485483-19-eng-GB.jpg' | asset_img_url: 'master' }}" width="160" height="212" class="sizes-image-guide">
        <div class="rich-text padded-content">
            <ly-as-275875>MEASURE YOUR FINGER CIRCUMFERENCE</ly-as-275875><br>
            <ly-as-275876>The finger circumference is measured at the diameter of your ring.</ly-as-275876><br><br>
            <ly-as-275877>Find your measurement on the size equivalence grid below.</ly-as-275877>
        </div>
    </div>

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275878>TRYING ON SERVICE</ly-as-275878></h5>

            <p></p><p><ly-as-275879>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275879></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275880>ANY QUESTIONS?</ly-as-275880></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275881>Our advisers</ly-as-275881></a> <ly-as-275882>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275882></p><p></p>
        </div>
    </div>

</div></div></div><div role="tabpanel" id="equivalent-sizes-tab-content" aria-hidden="true" aria-labelledby="equivalent-sizes-tab-header" class="content hidden"><div><div id="size-tab-1" class="tab-content js-tab-content">
    <p class="margin text-centered small--hide">
        <ly-as-275883>Please find your finger circumference on the sizing chart below to find all equivalent Dior ring sizes.</ly-as-275883>
    </p>
    <h5 class="small--hide"><ly-as-275863>EQUIVALENT SIZES</ly-as-275863></h5>
    <table class="cols-10-with-title js-table active small--hide">
        <thead>
        <tr>
            <th class="title"><ly-as-275884>Dior</ly-as-275884></th>
            <th>44</th>
            <th>45</th>
            <th>46</th>
            <th>47</th>
            <th>48</th>
            <th class="border">49</th>
            <th>50</th>
            <th class="border">51</th>
            <th>52</th>
            <th class="border">53</th>
            <th>54</th>
            <th class="border">55</th>
            <th>56</th>
            <th class="border">57</th>
            <th>58</th>
            <th>59</th>
            <th>60</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><ly-as-275885>In mm</ly-as-275885></td>
            <td>14,01</td>
            <td>14,33</td>
            <td>14,65</td>
            <td>14,97</td>
            <td>15,29</td>
            <td class="border">15,61</td>
            <td>15,92</td>
            <td class="border">16,24</td>
            <td>16,56</td>
            <td class="border">16,88</td>
            <td>17,20</td>
            <td class="border">17,52</td>
            <td>17,83</td>
            <td class="border">18,15</td>
            <td>18,47</td>
            <td>18,79</td>
            <td>19,11</td>
        </tr>
        <tr class="grey">
            <td class="title"><ly-as-275886>INT</ly-as-275886></td>
            <td class="colspan border" colspan="6"></td>
            <td class="colspan border" colspan="2">S</td>
            <td class="colspan border" colspan="2">M</td>
            <td class="colspan border" colspan="2">L</td>
            <td class="colspan border" colspan="2"><ly-as-275887>XL</ly-as-275887></td>
            <td class="colspan" colspan="3"></td>
        </tr>
        </tbody>
    </table>

    <!-- Mobile -->
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <p>    <ly-as-275883>Please find your finger circumference on the sizing chart below to find all equivalent Dior ring sizes.</ly-as-275883></p>
    </div>
    <table class="cols-3 medium-up--hide">
        <thead>
        <tr><td><ly-as-275884>Dior</ly-as-275884></td>
            <td><ly-as-275885>In mm</ly-as-275885></td>
            <td><ly-as-275886>INT</ly-as-275886></td>
        </tr></thead>
        <tbody>
        <tr>
            <td class="size-grid-black">44</td>
            <td>14,01</td>
            <td></td>
        </tr>
        <tr>
            <td class="size-grid-black">45</td>
            <td>14,33</td>
            <td></td>
        </tr>
        <tr>
            <td class="size-grid-black">46</td>
            <td>14,65</td>
            <td></td>
        </tr>
        <tr>
            <td class="size-grid-black">47</td>
            <td>14,97</td>
            <td></td>
        </tr>
        <tr>
            <td class="size-grid-black">48</td>
            <td>15,29</td>
            <td></td>
        </tr>
        <tr>
            <td class="size-grid-black">49</td>
            <td>15,61</td>
            <td></td>
        </tr>
        <tr class="border-top">
            <td class="size-grid-black">50</td>
            <td>15,92</td>
            <td rowspan="2">S</td>
        </tr>
        <tr>
            <td class="size-grid-black">51</td>
            <td>16,24</td>
        </tr>
        <tr class="border-top">
            <td class="size-grid-black">52</td>
            <td>16,56</td>
            <td rowspan="2">M</td>
        </tr>
        <tr>
            <td class="size-grid-black">53</td>
            <td>16,88</td>
        </tr>
        <tr class="border-top">
            <td class="size-grid-black">54</td>
            <td>17,20</td>
            <td rowspan="2">L</td>
        </tr>
        <tr>
            <td class="size-grid-black">55</td>
            <td>17,52</td>
        </tr>
        <tr class="border-top">
            <td class="size-grid-black">56</td>
            <td>17,83</td>
            <td rowspan="2"><ly-as-275887>XL</ly-as-275887></td>
        </tr>
        <tr>
            <td class="size-grid-black">57</td>
            <td>18,15</td>
        </tr>
        <tr class="border-top">
            <td class="size-grid-black">58</td>
            <td>18,47</td>
            <td></td>
        </tr>
        <tr>
            <td class="size-grid-black">59</td>
            <td>18,79</td>
            <td></td>
        </tr>
        <tr>
            <td class="size-grid-black">60</td>
            <td>19,11</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275878>TRYING ON SERVICE</ly-as-275878></h5>

            <p></p><p><ly-as-275879>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275879></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275880>ANY QUESTIONS?</ly-as-275880></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275881>Our advisers</ly-as-275881></a> <ly-as-275882>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275882></p><p></p>
        </div>
    </div>

</div></div></div></div></div>
