<h2 id="size-chart" class="title-with-level size-guide-title font-century-std size-m uppercase"><span class="multiline-text"><ly-as-275835>SIZE CHART</ly-as-275835></span></h2><div class="tabs size-guide-tabs"><ul role="tablist" class="tabs-header"><li role="tab" id="equivalent-sizes-tab-header" aria-selected="true" aria-controls="equivalent-sizes-tab-content" tabindex="0" class="tabs-header-item-container"><span class="tabs-header-item tabs-header-item-selected"><span class="title-with-level font-century-std size-s bold uppercase"><span class="multiline-text"><ly-as-275836>EQUIVALENT SIZES</ly-as-275836></span></span></span></li><li role="tab" id="measurement-guide-tab-header" aria-selected="false" aria-controls="measurement-guide-tab-content" tabindex="-1" class="tabs-header-item-container"><span class="tabs-header-item"><span class="title-with-level font-century-std size-s uppercase"><span class="multiline-text"><ly-as-275837>MEASUREMENT GUIDE</ly-as-275837> </span></span></span></li></ul><div class="tabs-content"><div role="tabpanel" id="equivalent-sizes-tab-content" aria-hidden="false" tabindex="0" aria-labelledby="equivalent-sizes-tab-header" class="content visible"><div><div id="size-tab-0" class="tab-content tab-content--active js-tab-content">
    <p class="margin text-centered small--hide">
        <ly-as-275838>Please consult the sizing chart below to find all equivalent Dior belt sizes.</ly-as-275838>
    </p>
    <h5 class="small--hide"><ly-as-275836>EQUIVALENT SIZES</ly-as-275836></h5>
    <table class="cols-10-with-title js-table active small--hide">
        <thead>
        <tr>
            <th class="title"><ly-as-275839>INT</ly-as-275839></th>
            <th colspan="2">S</th>
            <th colspan="2">M</th>
            <th colspan="3">L</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><ly-as-275840>FR</ly-as-275840></td>
            <td><ly-as-275841>XS</ly-as-275841></td>
            <td>S</td>
            <td colspan="2">M</td>
            <td colspan="2">L</td>
            <td><ly-as-275842>XL</ly-as-275842></td>
        </tr>
        <tr class="grey">
            <td class="title"><ly-as-275843>ITA</ly-as-275843></td>
            <td>34</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
            <td>46</td>
        </tr>
        <tr>
            <td class="title"><ly-as-275844>UK</ly-as-275844></td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
            <td>46</td>
            <td>48</td>
        </tr>
        <tr class="grey">
            <td class="title"><ly-as-275845>US</ly-as-275845></td>
            <td>6</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
            <td>16</td>
            <td>18</td>
        </tr>
        <tr>
            <td class="title"></td>
            <td>4</td>
            <td>6</td>
            <td>8</td>
            <td>10</td>
            <td>12</td>
            <td>14</td>
            <td>16</td>
        </tr>
        </tbody>
    </table>

    <!-- Mobile -->
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <p>    <ly-as-275838>Please consult the sizing chart below to find all equivalent Dior belt sizes.</ly-as-275838></p>
    </div>
    <div class="size-grid padded-content medium-up--hide">
        <table class="cols-6">
            <thead>
            <tr><td><ly-as-275839>INT</ly-as-275839></td>
                <td><ly-as-275840>FR</ly-as-275840></td>
                <td><ly-as-275843>ITA</ly-as-275843></td>
                <td><ly-as-275844>UK</ly-as-275844></td>
                <td><ly-as-275845>US</ly-as-275845></td>
                <td></td>
            </tr></thead>
            <tbody>
            <tr class="border-top">
                <td class="size-grid-black" rowspan="2">S</td>
                <td><ly-as-275841>XS</ly-as-275841></td>
                <td>34</td>
                <td>36</td>
                <td>6</td>
                <td>4</td>
            </tr>
            <tr>
                <td>S</td>
                <td>36</td>
                <td>38</td>
                <td>8</td>
                <td>6</td>
            </tr>
            <tr class="border-top">
                <td class="size-grid-black" rowspan="2">M</td>
                <td rowspan="2">M</td>
                <td>38</td>
                <td>40</td>
                <td>10</td>
                <td>8</td>
            </tr>
            <tr>
                <td>40</td>
                <td>42</td>
                <td>12</td>
                <td>10</td>
            </tr>
            <tr class="border-top">
                <td class="size-grid-black" rowspan="3">L</td>
                <td rowspan="2">L</td>
                <td>42</td>
                <td>44</td>
                <td>14</td>
                <td>12</td>
            </tr>
            <tr>
                <td>44</td>
                <td>46</td>
                <td>16</td>
                <td>14</td>
            </tr>
            <tr>
                <td><ly-as-275842>XL</ly-as-275842></td>
                <td>46</td>
                <td>48</td>
                <td>18</td>
                <td>16</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275846>TRYING ON SERVICE</ly-as-275846></h5>

            <p></p><p><ly-as-275847>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275847></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275848>ANY QUESTIONS?</ly-as-275848></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275849>Our advisers</ly-as-275849></a> <ly-as-275850>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275850></p><p></p>
        </div>
    </div>

</div></div></div><div role="tabpanel" id="measurement-guide-tab-content" aria-hidden="true" aria-labelledby="measurement-guide-tab-header" class="content hidden"><div><div id="size-tab-1" class="tab-content js-tab-content">
    <h4 class="small--hide"><ly-as-275851>CALCULATE YOUR  SIZE</ly-as-275851></h4>
    <div class="margin small--hide">
        <div class="grid">
            <div class="column column-no-margin one-half">
                <div class="step">
                    <span class="num">1</span>
                    <h5 class="label"><ly-as-275852>TAKE YOUR WAIST MEASUREMENT</ly-as-275852></h5>
                </div>
                <p></p><p><ly-as-275853>The waist is measured at the thinnest part, keeping the tape measure horizontal.</ly-as-275853></p><p></p>

                <div class="step">
                    <span class="num">2</span>
                    <h5 class="label"><ly-as-275854>MEASURE YOUR HIP CIRCUMFERENCE</ly-as-275854></h5>
                </div>
                <p></p><p><ly-as-275855>Your hip circumference is measured at the widest part, keeping the tape measure horizontal.</ly-as-275855></p><p></p>


            </div>
            <div class="column one-half">
                <img src="{{ '9485400-16-eng-GB.jpg' | asset_img_url: 'master' }}">
            </div>
        </div>
    </div>

    <table class="cols-8-with-title js-table active small--hide">
        <thead>
        <tr>
            <th class="title"><ly-as-275856>Dior</ly-as-275856></th>
            <th colspan="2">S</th>
            <th colspan="2">M</th>
            <th colspan="3">L</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><ly-as-275857>In centimetres</ly-as-275857></td>
            <td>59-62</td>
            <td>63-66</td>
            <td>67-70</td>
            <td>71-74</td>
            <td>75-78</td>
            <td>79-82</td>
            <td>83-88</td>
        </tr>
        <tr class="grey">
            <td class="title"><ly-as-275858>In inches</ly-as-275858></td>
            <td>23-24</td>
            <td>25-26</td>
            <td>27-28</td>
            <td>29-30</td>
            <td>30-31</td>
            <td>31-32</td>
            <td>33-35</td>
        </tr>
        </tbody>
    </table>


    <!-- Mobile -->
    <h4 class="subtitle medium-up--hide"><ly-as-275851>CALCULATE YOUR  SIZE</ly-as-275851></h4>
    <div class="rich-text margin-bottom-20 medium-up--hide">
        <h5 class="title-3"><ly-as-275859>1. TAKE YOUR WAIST MEASUREMENT</ly-as-275859></h5>
        <p><ly-as-275853>The waist is measured at the thinnest part, keeping the tape measure horizontal.</ly-as-275853></p>
    </div>

    <div class="rich-text margin-bottom-20 medium-up--hide">
        <h5 class="title-3"><ly-as-275860>2. MEASURE YOUR HIP CIRCUMFERENCE</ly-as-275860></h5>
        <p><ly-as-275855>Your hip circumference is measured at the widest part, keeping the tape measure horizontal.</ly-as-275855></p>
    </div>



    <img src="{{ '9485400-16-eng-GB.webp' | asset_img_url: 'master' }}" class="sizes-image-guide medium-up--hide">

    <div class="size-grid padded-content medium-up--hide">
        <table class="cols-5">
            <thead>
            <tr><td><ly-as-275856>Dior</ly-as-275856></td>
                <td><ly-as-275857>In centimetres</ly-as-275857></td>
                <td><ly-as-275858>In inches</ly-as-275858></td>
            </tr></thead>
            <tbody>
            <tr class="border-top">
                <td class="size-grid-black" rowspan="2">S</td>
                <td>59-62</td>
                <td>23-24</td>
            </tr>
            <tr>
                <td>63-66</td>
                <td>25-26</td>
            </tr>
            <tr class="border-top">
                <td class="size-grid-black" rowspan="2">M</td>
                <td>67-70</td>
                <td>27-28</td>
            </tr>
            <tr>
                <td>71-74</td>
                <td>29-30</td>
            </tr>
            <tr class="border-top">
                <td class="size-grid-black" rowspan="3">L</td>
                <td>75-78</td>
                <td>30-31</td>
            </tr>
            <tr>
                <td>79-82</td>
                <td>31-32</td>
            </tr>
            <tr>
                <td>83-88</td>
                <td>33-35</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <div class="size-guide--footer">
        <div>
            <img src="{{ '9483537-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="28" height="16">
            <h5><ly-as-275846>TRYING ON SERVICE</ly-as-275846></h5>

            <p></p><p><ly-as-275847>Try on your products at home and if they do not fit, Dior will pay for their return for an exchange.&nbsp;</ly-as-275847></p><p></p>
        </div>
        <div>
            <img src="{{ '9483540-4-eng-GB.jpg' | asset_img_url: 'master' }}" width="17" height="16">
            <h5><ly-as-275848>ANY QUESTIONS?</ly-as-275848></h5>

            <p></p><p><a href="/couture/en_gb/horizon/contact-couture-old" target="_self" style="color:#000;"><ly-as-275849>Our advisers</ly-as-275849></a> <ly-as-275850>are available to help you from Monday to Saturday from 10 am to 7 pm.</ly-as-275850></p><p></p>
        </div>
    </div>


</div></div></div></div></div>
