<style>
.lps-link a {
position: relative;
color: #000;
font-weight: 600;
}
.lps-link a:after {
content: "\2023";
font-size: 25px;
position: absolute;
top: -7px;
margin-left: 10px;
}
.lps-img img {
width: 100%;
}
.lps-link {
  padding: 10px 0;
}
.text-section{
  padding:30px;
  text-align:left;
  background:#000;
  margin:20px 0; 
  display: flex;
    align-items: center;
    min-height:300px;
}
.text-section p{
  text-align:left;
  color:#fff;
}
@media all and (min-width:750px){
.landing-wrapper{
  display: flex;
  grid-gap: 25px;
}
.landing-select-block{
  width: 50%;
}
.text-section{
       margin: 0 0 25px 0px;
    width: 100%;
    height: calc(100% - 50%);
}
.second-block{
     display: flex;
    flex-wrap: wrap; 
}  
.lps-img{
  width:100%;
}
.second-block .lps-img {
    width: 100%;
  position:relative;
  padding-top: 89%;
}
  .lps-img{
    font-size: 0;
  }
.second-block .lps-img img{
    width: 100%;
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  
}
  
}
@media all and (min-width:992px){
  .second-block .lps-img {
    padding-top:92.4%;
  }
}
  @media all and (min-width:1024px){
  .landing-wrapper {
    padding:30px;
}
  .lps-img{
    font-size: 0;
  }
  .second-block .lps-img {
    padding-top: 92%;
  }
}
@media all and (min-width:1200px){
  .landing-wrapper {
    padding: 0 147px;
   
  }
  .second-block .lps-img {
    padding-top: 91.3%;
  }
}

</style>



<div class="page-width">
<div class="landing-wrapper">
<div class="landing-select-block">
  {% if section.settings.image != blank %}
  <div class="lps-img">
      <img src="{{ section.settings.image | img_url: '400x' }}">
  </div>
  {% endif %}
  {% if section.settings.product_link != blank and  section.settings.btn_text != blank %}
  <div class="lps-link">
    <a href="{{ section.settings.product_link }}">{{ section.settings.btn_text }}</a>
  </div>
  {% endif %}
</div>

<div class="landing-select-block second-block">
<div class="text-section">
    <p>
      {{ section.settings.text_block }}
    </p>
</div>

{% if section.settings.image != blank %}
<div class="lps-img">
    <img src="{{ section.settings.image_two | img_url: '400x' }}">
</div>
{% endif %}
{% if section.settings.product_link_two!= blank and  section.settings.btn_text_two != blank %}
<div class="lps-link">
  <a href="{{ section.settings.product_link_two }}">{{ section.settings.btn_text_two }}</a>
</div>
{% endif %}

</div>
</div>
  </div>




{% schema %}
{
"name": "19 degree Landing",
"settings": [
{
     "type": "image_picker",
     "id": "image",
     "label": "Image"
   },
   {
     "type": "url",
     "id": "product_link",
     "label": "Product link"
   },
   {
     "type": "text",
     "id": "btn_text",
     "label": "Button Text",
     "default": "Shop Now"
   },
  {
     "type": "text",
     "id": "text_block",
     "label": "Text block"
   },
  {
     "type": "image_picker",
     "id": "image_two",
     "label": "Image block two"
   },
   {
     "type": "url",
     "id": "product_link_two",
     "label": "Product link"
   },
   {
     "type": "text",
     "id": "btn_text_two",
     "label": "Button Text",
     "default": "Shop Now"
   }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
