  <section  id="aplhathree">
    <div class="page-width">
      <div class="backpack-wrap">
        <div class="backpack-video">
          <div class="video-container">
            {% if section.settings.video != blank %}
              <iframe width="100%"  src="https://www.youtube.com/embed/{{section.settings.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
            <iframe width="100%" src="https://www.youtube.com/embed/z3nQd-uw8i4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         	{% endif %}
          </div>
        </div>

        <div class="backpack-con travel-con">
          <span class="subheading">{{section.settings.heading}}</span>
          <h2>{{section.settings.sub_heading}} </h2>
          {{section.settings.content}}
          
          {% if section.settings.btn != blank %}
          <a href="{{section.settings.link | default:'#' }}" class="btn-transparent">
            <span class="ben-text">{{section.settings.btn}}</span>
            <i class="fas fa-caret-right" aria-hidden="true"></i>
          </a>
          {% endif %}
        </div>

      </div>
    </div>


    <div class="travel-sliderWrap">
      <div class="discover-sliderWrap alpha-slider">
        <div class="header-block">
          <h2 class="block_title">
            {{section.settings.collection_name}}
          </h2>
        </div>

        
        <!-- -->
        
        <div class="travel-sliderWrap explore-slider">

        <div class="custom-row explore-row">
          {% if section.settings.product_col != blank %}
          {% for product in collections[section.settings.product_col].products %}
          	{% assign image  = product.featured_media.preview_image %}
          <div class="explore-item">
            <div class="discover_img">
              <a href="{{product.url}}">
              <img src="{{image | img_url: '300x'}}" alt="{{product.title}}" />
              {% if product.tags == 'new' %}
              <span class="product-tag">
                New
              </span>
              {% endif %}
              </a>
            </div>
            <div class="travel-sliderItem" style="max-width:100%; ">
            <div class="discover_desc">
               <a href="{{product.url}}">
              <h3>{{product.title}}</h3>
              <span class="product_subtitle">{{product.type}}</span>
              <span class="product_price"> {{product.price | money }}</span>
              </a>
            </div>
            </div>
          </div>
          	
          {% endfor %}
          
         {% else %}
          
          {% for i in (1..4) %}
           <div class="explore-item">
            <a href="#">
             <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/03-AlphaBravo-NavigationBackpack-Desktop.jpg" alt="b1">
            <div class="explore-content">
              <h4>Navigation Backpack</h4>
              <span>alpha bravo</span>
            </div>
             </a>
          </div>
          {% endfor %} 
 {% endif %}
        </div>
        </div>
        
        
        <!-- -->
        
        
        
        {% comment %}
        <div class="travel-slider new_travel">

{% if section.settings.product_col != blank %}   
          
          {% for product in collections[section.settings.product_col].products limit:4 %}
          	{% assign image  = product.featured_media.preview_image %}
          <div class="discover-sliderItem travel-sliderItem">
            <div class="discover_img">
              <a href="{{product.url}}">
              <img src="{{image | img_url: '300x'}}" alt="{{product.title}}" />
              {% if product.tags == 'new' %}
              <span class="product-tag">
              New
              </span>
              {% endif %}
              </a>
            </div>
            <div class="discover_desc">
               <a href="{{product.url}}">
              <h3>{{product.title}}</h3>
              <span class="product_subtitle">{{product.type}}</span>
              <span class="product_price"> {{product.price | money }}</span>
              </a>
            </div>
          </div>
          {% endfor %} 
          {% else %}
          {% for i in (1..10)%}
          <div class="discover-sliderItem travel-sliderItem">
            <div class="discover_img">
              <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/03-AlphaBravo-NavigationBackpack-Desktop.jpg" />
              <span class="product-tag">New</span>
            </div>
            <div class="discover_desc">
              <h3>Classified Waistpack</h3>
              <span class="product_subtitle">We stayed true</span>
              <span class="product_price"> $3000.00</span>
            </div>
          </div>
          {% endfor %}
{% endif %}



        </div>
        {% endcomment %}

      </div>
    </div>


    <div class="page-width">
 
            <div class="explore-collection explore-two">
        <div class="custom-row explore-row">
          
          {% if section.blocks != blank %}
          {% for block in section.blocks %}
          	
          	<div class="explore-item">
            <img src="{{block.settings.img | img_url: '400x'}}" alt="{{block.settings.title | img_url: '400x'}}">
            <div class="explore-content">
              <h4>{{block.settings.heading}}</h4>
              {% if block.settings.btn != blank %}
              <a href="{{block.settings.link}}" class="btn-transparent">
                <span class="ben-text">{{block.settings.btn}} </span>
                <i class="fas fa-caret-right" aria-hidden="true"></i>
              </a>
              {% endif %}
            </div>
          </div>
          
          {% endfor %}
          
          {% else %}
          
          {% for i in (1..3)%}
          <div class="explore-item">
            <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/04-LandoNorris-AlphaBravo-ClassifiedWaistpack-Desktop.jpg?v=1641299460" alt="b1">
            <div class="explore-content">
              <h4>CLASSIFIED WAISTPACK</h4>
              <a href="#" class="btn-transparent">
                <span class="ben-text">Shop Now </span>
                <i class="fas fa-caret-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          
          {% endfor %}
          
          {% endif %}
           
<!--           <div class="explore-item">
            <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/04-LandoNorris-AlphaBravo-ClassifiedWaistpack-Desktop.jpg?v=1641299460" alt="b1">
            <div class="explore-content">
              <h4>CLASSIFIED WAISTPACK</h4>
              <a href="#" class="btn-transparent">
                <span class="ben-text">Shop Now </span>
                <i class="fas fa-caret-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="explore-item">
            <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/04-LandoNorris-AlphaBravo-Masonduffel-Desktop.jpg?v=1641299460" alt="b1">
            <div class="explore-content">
              <h4>CLASSIFIED WAISTPACK</h4>
              <a href="#" class="btn-transparent">
                <span class="ben-text">Shop Now </span>
                <i class="fas fa-caret-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="explore-item">
            <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/04-LandoNorris-AlphaBravo-NavigationBackpack-Desktop.jpg?v=1641299460" alt="b1">
            <div class="explore-content">
              <h4>Mason Duffel</h4>
              <a href="#" class="btn-transparent">
                <span class="ben-text">Shop Now </span>
                <i class="fas fa-caret-right" aria-hidden="true"></i>
              </a>
            </div>
          </div> -->
 
          
          
          
        </div>

      </div>
    </div>



    




      </section>



{% schema %}
  {
    "name": "Alpha Three",
    "settings": [
{
	  "type":"header",
	  "content":"Youtube section"
},
{
	"type":"html",
	"id":"video",
	"label":"Video link",
	"info":"Youtube Embed video URL"
},
{
	"type":"text",
	"id":"heading",
	"label":"Heading",
	"default":"INTRODUCING"
},
{
	"type":"text",
	"id":"sub_heading",
	"label":"Sub Heading",
	"default":"tumi+ travel Accessories "
}, 
{
	"type":"richtext",
	"id":"content",
	"label":"Content",
	"default":"<p>Ready for life on the go, modular TUMI+ Travel Accessories bring even more function, purpose and adaptability to your bag..</p>"
},
{
	"type":"text",
	"id":"btn",
	"label":"Button Name",
	"default":"Shop the collection"
},
{
	"type":"url",
	"id":"link",
	"label":"Button URL"
},
{
	  "type":"header",
	  "content":"Collection section"
},
{
	"type":"text",
	"id":"collection_name",
	"label":"Collection Name",
	"default":"Lando's TUMI+ Travel Accessories"
},
{
	"type":"collection",
	"id":"product_col",
	"label":"Select Collection"
}
],
"blocks":[
	{
	"name":"block",
	"type":"column",
	"settings":[

  {
  "type":"image_picker",
  "id":"img",
  "label":"Select Image"
  },
  {
  "type":"text",
  "id":"heading",
  "label":"Heading"
  },
  {
  "type":"text",
  "id":"btn",
  "label":"Button name"
  },
  {
  "type":"url",
  "id":"link",
  "label":"Categories URL"
  }
]
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
