<div  aaaa
     data-poster-url="{%if section.settings.mobile-poster != blank%} {{section.settings.mobile-poster | img_url: ''}} {% else %} https://cdn.shopify.com/s/files/1/0272/4233/2203/files/Tumi_razer_0406_teaser_9-16-poster-00001.jpg {%endif%}" 
     data-video-urls="{%if section.settings.mb-video != blank%} {{section.settings.mb-video}} {% else %}https://cdn.shopify.com/s/files/1/0272/4233/2203/files/Tumi_razer_0406_teaser_9-16-transcode.mp4 {%endif%}" 
     data-autoplay="true" 
     data-loop="true" 
     data-wf-ignore="true" 
     data-beta-bgvideo-upgrade="false"
     class="teaser-video-wrapper-video-portrait w-background-video w-background-video-atom">
  <video id="54f336ed-b1e9-11db-782a-36c284cb20b5-video" autoplay="" loop="" style="background-image:url(&quot;{%if section.settings.mobile-poster != blank%} {{section.settings.mobile-poster | img_url: ''}} {% else %} https://cdn.shopify.com/s/files/1/0272/4233/2203/files/Tumi_razer_0406_teaser_9-16-poster-00001.jpg {%endif%}&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
    <source src="{%if section.settings.mb-video != blank%} {{section.settings.mb-video}} {% else %}https://cdn.shopify.com/s/files/1/0272/4233/2203/files/Tumi_razer_0406_teaser_9-16-transcode.mp4 {%endif%}" data-wf-ignore="true">
  </video>
  <div class="coundown-wrapper teaser-hero"><img src="{{ 'tumi-razer-logo.svg' | asset_url  }}" loading="lazy" alt="" class="tumi-razer-logo teaser-hero">
    <h1 class="main-hero-heading teaser-hero">{{ section.settings.heading_mob }}</h1>
  </div>
  <div class="notification-frame teaser-hero">
    <div class="notification-frame-outline"></div><img src="{{ 'notification-frame-bg.svg' | asset_url  }}" loading="lazy" alt="" class="notification-frame-vector base"><img src="images/notification-frame.svg" loading="lazy" alt="" class="notification-frame-vector blur"><img src="{{ 'notification-frame.svg' | asset_url  }}" loading="lazy" alt="" class="notification-frame-vector bright">
    <div class="notification-form-block w-form">

      
      
	<!--  form mobile start       -->
      <div class="app_customform">
        <div class="notification-heading">{{ 'teaser_lp.form_heading' | t }}</div>
        {ets_cf_WJX}
      </div>
      
	<!--  form mobile end      -->
      
     
    </div>
  </div>
</div>
  
  
<div 
     data-poster-url="{%if section.settings.desktop-poster != blank%} {{section.settings.desktop-poster | img_url: ''}} {% else %} https://cdn.shopify.com/s/files/1/0272/4233/2203/files/hero-video-30may-poster-00001.jpg?v=1652952524 {%endif%}" 
     data-video-urls="{%if section.settings.desk-video != blank%} {{section.settings.desk-video}} {% else %}https://cdn.shopify.com/s/files/1/0272/4233/2203/files/hero-video-30may-transcode.mp4?v=1652952607,https://cdn.shopify.com/s/files/1/0272/4233/2203/files/hero-video-30may-transcode.webm?v=1652952653 {%endif%}"
     data-autoplay="true"
     data-loop="true"
     data-wf-ignore="true" 
     data-beta-bgvideo-upgrade="false" 
     class="teaser-video-wrapper-video w-background-video w-background-video-atom">
  
  <video id="9e9c7add-eb28-bfd6-8bdb-d07db880243d-video" autoplay="" loop="" style="background-image:url(&quot;{%if section.settings.desktop-poster != blank%} {{section.settings.desktop-poster | img_url: ''}} {% else %} https://cdn.shopify.com/s/files/1/0272/4233/2203/files/hero-video-30may-poster-00001.jpg?v=1652952524 {%endif%}&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
    <source src="{%if section.settings.desk-video != blank%} {{section.settings.desk-video}} {% else %}https://cdn.shopify.com/s/files/1/0272/4233/2203/files/hero-video-30may-transcode.mp4?v=1652952607,https://cdn.shopify.com/s/files/1/0272/4233/2203/files/hero-video-30may-transcode.webm?v=1652952653 {%endif%}" data-wf-ignore="true">
  </video>
  <div class="coundown-wrapper teaser-hero"><img src="{{ 'tumi-razer-logo.svg' | asset_url  }}" loading="lazy" alt="" class="tumi-razer-logo teaser-hero">
    <h1 class="main-hero-heading teaser-hero">{{ section.settings.heading_desk }}</h1>

  </div>
  <div class="notification-frame teaser-hero">
    <div class="notification-frame-outline"></div><img src="{{ 'notification-frame-bg.svg' | asset_url  }}" loading="lazy" alt="" class="notification-frame-vector base"><img src="{{ 'notification-frame.svg' | asset_url  }}" loading="lazy" alt="" class="notification-frame-vector blur"><img src="{{ 'notification-frame.svg' | asset_url  }}" loading="lazy" alt="" class="notification-frame-vector bright">
    <div class="notification-form-block w-form">
<!--       <form id="email-form" name="email-form" data-name="Email Form" method="get" class="notification-form"> 
        <div class="notification-heading">{{ 'teaser_lp.form_heading' | t }}</div><label for="name-4" class="field-label hide">EMAIL</label>
        <div class="notificaton-form-button-wrapper">
          <input type="text" class="notification-text-field w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="gameon@gmail.com" id="teaser-email" required=""><input type="submit" value="Submit" data-wait="Please wait..." data-w-id="86950566-201b-4e46-f79f-d2de9ab3db2d" class="submit-button w-button btn-teaserdesk"></div>
      </form>  -->
      
      <div class="app_customform">
        <div class="notification-heading">{{ 'teaser_lp.form_heading' | t }}</div>
        {ets_cf_WJX}
      </div>
      
    </div>
  </div>
</div>




 




{% schema %}
  {
    "name": "Campaign video",
    "settings": [
		{
			"type": "header",
			"content": "Mobile Video"
		},
		{
			"type": "image_picker",
			"id": "mobile-poster",
			"label": "Video Poster"
		},
		{
			"type": "text",
			"id": "mb-video",
			"label": "Video Url"
		},
		{
			"type": "text",
			"id": "heading_mob",
			"label": "Heading",
			"default": "DROPPING SOON"
		},
		{
			"type": "header",
			"content": "Desktop Video"
		},
		{
			"type": "image_picker",
			"id": "desktop-poster",
			"label": "Video Poster"
		},
		{
			"type": "text",
			"id": "desk-video",
			"label": "Video Url"
		},
		{
			"type": "text",
			"id": "heading_desk",
			"label": "Heading",
			"default": "DROPPING SOON"
		}
		
		
	] 
  }
{% endschema %}    
 