<div class="page-width">

  <div class="gift-wrapper">
  <div class="git-her git-order">
     
    <div class="carousel-title">
      {% if section.settings.for_him_collection != blank %}
      <h3>{{ section.settings.for_him_collection }} </h3>
      {% endif %}
      
      {% if section.settings.for_him_content != blank %}
       <p> {{ section.settings.for_him_content }}</p>
      {% endif %}
      
      {% if section.settings.for_him_shop != blank %}
        <a href="{{ section.settings.for_him_url }}" class="btn btn-black">
            <span class="ben-text">{{ section.settings.for_him_shop }}</span>
        </a>
      {% endif %}

    </div>
     
    
  </div>
    <ul class="degree_products" style="opacity:0;">   
    {% for product in collections[section.settings.product_col].products %}
      <li class=" ">
        {% include 'product-card-grid', max_height: 270, product: product, show_vendor: section.settings.show_vendor %}
        <div class="list-product-price">
          {{product.price | money}}
        </div>
      </li>
      {% endfor %}
      
    </ul>
  </div>
</div>

  <script>
    $(document).ready(function(){
      var sliderCount = 3;
      if($(window).width() >480 && $(window).width() <767){
        sliderCount = 3;
        } else if ($(window).width() <480) {
          sliderCount = 2;
        } 
      $('.degree_products').slick({
        dots: false,
        arrows:true,
        infinite: true,
        speed:1300,
        slidesToShow:sliderCount,
        slidesToScroll: 1, 
      });
      
      
      
      // loading content
          setTimeout(function(){
          jQuery('.degree_products').css('opacity',1);
          jQuery('.loader_new').hide();
          }, 2000)
    });

  
</script> 

<style>
  .holiday_product_slider{
    padding:0 30px;
    margin:30px 0;
  }
  .dots{
    display:none;
  }
   .carousel-title{
     text-align:center;
      margin-top:30px;
   }
  .degree_products{
    padding:30px 20px 50px;
  }
  .degree_products .slick-prev{
        left:0px;
  }
  .degree_products .slick-next{
        right:0px;
  }
</style>
 
 
{% schema %}
    {
        "name": "for_him prodcut carousel",
        "settings": [
          {
            "type":"text",
            "id":"for_him_collection",
            "label": "collection title",
            "default":"Gifts for Him"
          },
          {
            "type":"text",
            "id":"for_him_content",
            "label": "section content ",
            "default":"Elevate his everyday with modern gifts that deliver functionality, durability and style"
          },
          {
            "type":"text",
            "id":"for_him_shop",
            "label": "button text",
            "default":"Gifts for Him"
          },
          {
            "type":"url",
            "id":"for_him_url",
            "label": "button url"
          },
          {
            "type": "collection",
            "id": "product_col",
            "label": "Select Collection"
          }
        ],
	"presets": [
     {
       "name": "for_him prodcut carousel"
     } 
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}