<style>
  .sc-content-inner p{
    font-size: 18px;
      color: #212529;
      text-align:center;
  } 
  .sc-content {
    padding-top:1.5rem;
    display: flex;
    justify-content:center;
  }
  .images_with_content {
      margin-top: 30px;
    text-align:left;
  }
  .block--section{
    margin-bottom: 30px; 
  } 
  .block--section .product-card__title{
    text-align: left;
  }
  .lps-img {
    position: relative;
        margin-bottom: 15px;
}
  .block--section .lps-img img{
    width: 100%;
  }
a.lps-img-link {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/*   .custom-grid-slider.slick-initialized.slick-slider .slick-list {
      padding: 0 20% 0 0;
  }

  .custom-grid-slider.slick-initialized.slick-slider {
      margin:30px -22px 0 -15px;
  } */
  .custom-grid-slider.slick-initialized .slick-slide {
      margin-right:15px;
      margin-left:15px;
  }
.images_with_content.custom-grid-slider.slick-initialized.slick-slider .slick-list {
    padding: 0 !important;
}

.images_with_content.custom-grid-slider.slick-initialized.slick-slider button.slick-next.slick-arrow {
    right: -15px;
}
.images_with_content.custom-grid-slider.slick-initialized.slick-slider button.slick-prev.slick-arrow {
    left: -15px;
}
  
.images_with_content .product-card__title {
    position: relative;
    display: inline-block;
}
.images_with_content .product-card__title:after {
    content: '';
    position: absolute;
    top: -24px;
    display: inline-block;
    margin: 30px auto;
    width: 8px;
    height: 8px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(135deg);
    right: -13px;
}
  
  @media all and (min-width: 750px){
    .sc-content-inner{
      width: 80%;
    }  
    .images_with_content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    } 
    .block--section {
      width: 23.5%;
    }
    .block--section .lps-img{
     margin-block: 10px;
    }
    
  }
  @media all and (max-width: 749px){
    .sc-content-inner{
      max-width: 400px;
      width: 100%;
    }  
    .sc-content-inner p {
      font-size: 14px;
    }
  }
  @media all and (min-width:1024px){
    div.sc-content{
      padding-top:3.5rem;
    } 
  }
  </style>
  <div class="page-width">
    {% if section.settings.gift-guid_title_third != blank %}
    <div class="sc-content">
      <div class="sc-content-inner">
          {% if section.settings.gift-guid_title_third != blank %}
           <h3> {{ section.settings.gift-guid_title_third }}  </h3>
          {% endif %}
          {% if section.settings.gift-guid_paragraph_third != blank %}
            {{ section.settings.gift-guid_paragraph_third }}
          {% endif %}
      </div>  
    </div>
       {% endif %}
    <div class="images_with_content custom-grid-slider" id="gift-grid-slider">
  
      {% for block in section.blocks %} 
      <div class="block--section">
        {% if block.settings.gift-guid_block_image != blank %}
        <div class="lps-img">
          {% if block.settings.gift-guid_block_image_link != blank %}
            <a href="{{ block.settings.gift-guid_block_image_link }}" class="lps-img-link"></a>
          {% endif %}
            <img src="{{ block.settings.gift-guid_block_image | img_url: '400x' }}">
        </div>
        {% endif %}
         {% if block.settings.gift-guid_title_block != blank %}
        <h4 class="product-card__title">
          {% if block.settings.gift-guid_block_image_link != blank %}
            <a href="{{ block.settings.gift-guid_block_image_link }}" >  {{ block.settings.gift-guid_title_block }} </a>
           {% else %}
             {{ block.settings.gift-guid_title_block }}
          {% endif %}
         
        </h4>
           {% endif %}
         {% if block.settings.gift-guid_para_block != blank %}
        <p>{{ block.settings.gift-guid_para_block }}</p>
        {% endif %}
      </div>
      {% endfor %}
      
      
    </div>
  </div>

<script>
    $(document).ready(function(){
      var sliderCountGrid = 4;
      if($(window).width() >480 && $(window).width() <767){
        sliderCountGrid = 2;
        } else if ($(window).width() <480) {
          sliderCountGrid = 2;
        } 
      $('#gift-grid-slider').slick({
        dots: false,
        arrows:true,
        infinite: true,
        slidesToShow:sliderCountGrid,
        slidesToScroll: 1, 
      });
    });
  
</script> 


    
  
  {% schema %}
  {
    "name": "gift guid contents",
    "max_blocks":6,
    "settings": [
      {
        "type": "text",
        "id": "gift-guid_title_third",
        "label": "title"
      },
      {
        "type": "richtext",
        "id": "gift-guid_paragraph_third",
        "label": "Paragraph"
      }
    ],
    "blocks": [
      {
        "type": "images_block",
        "name": "Add image with text",
        "settings": [
          {
             "type": "image_picker",
             "id": "gift-guid_block_image",
             "label": "upload image"
           },
            {
               "type": "url",
               "id": "gift-guid_block_image_link",
               "label": "CTA on image"
             },
          {
            "id": "gift-guid_title_block",
            "type": "text",
            "label": "Add title",
            "default": "Son Heung-min"
          },
          {
            "id": "gift-guid_para_block",
            "type": "text",
            "label": "Add content here",
            "default": "He’s ready to kickstart all his hubrneys with our iconic 19 Degree Aluminum collection. This means traveling to tours, going back home and more."
          }
        ]
      }
    ]
  
  } 
  {% endschema %}  