<style>
  .degree-button .btn-transparent{
    background-color: #000000;
    display: inline-block;
    padding: 15px 20px;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    letter-spacing: .0125em;
    text-decoration: none;
    max-width: 100%;
    width: 80%;
  }
  .backpack-con h3{
    font-size: 16px;
  }
  .degree-button .fa-caret-right:before{
    content:none;
  }
  .degree-button .btn-transparent.btn-second{
    margin-top:10px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
  }
   div .discover-wrap .video-col {
    padding: 0;
    margin-bottom: 0;
}
  .backpack-con h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}
.backpack-con h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 6px;
    font-weight: 500;
}
section#aplhatwo {
       background: #FAFAFA;
}
@media (min-width: 750px){
      .discover-aplha.first-video .discover-item:nth-child(odd) {
      flex-direction: inherit;
    }
  }
</style>

<section  id="aplhatwo" class="degree-button">
    <div class="page-width">
      <div class="discover-wrap">
        {% if section.settings.guid_heading != blank and  section.settings.guid_sub_heading != blank %}
        <div class="header-block">
          <span class="subtitle">{{section.settings.guid_heading}}</span>
          <h2 class="block_title">
            {{section.settings.guid_sub_heading}}
          </h2>
        </div>
        {% endif %}
          
        <div class="discover-aplha first-video">
           <div class="discover-item">
             <div class="video-desc">
              <div class="backpack-con">

                <h3>{{section.settings.guid_sub_title}}</h3>
            
                
                <h2>{{section.settings.guid_title}}</h2>
                {{section.settings.guid_content}}
                
                {% if section.settings.guid_btn != blank %}
                <a href="{{section.settings.guid_link | default:'#'}}" class="btn-transparent">
                  <span class="ben-text">{{section.settings.guid_btn}} </span>
                  <i class="fas fa-caret-right" aria-hidden="true"></i>
                </a>
                {% endif %}

                 {% if section.settings.guid_btn-two != blank %}
                <a href="{{section.settings.guid_link-two | default:'#'}}" class="btn-transparent btn-second">
                  <span class="ben-text">{{section.settings.guid_btn-two}} </span>
                  <i class="fas fa-caret-right" aria-hidden="true"></i>
                </a>
                {% endif %}
              </div>
            </div>
            <div class="video-col">
              <div class="video-discover">
                {%  if section.settings.guid_vertical_alignment == "image" %}
                <div class="fallback-img">
                  {% if section.settings.guid_img != blank %}
                  	<img src="{{section.settings.guid_img | img_url:'600x'}}" />
                  {% else %}
                  <img src="https://cdn.media.amplience.net/i/tumi/lp-19-degree-aluminum-son" alt="img"/>
                  {% endif %}
                </div>
                  
                {%  else %}
                  njbnbnb
                 {% if section.settings.guid_video != blank %}
                <video width="100%" height="auto" media="(min-width:650px)" autoplay muted loop>
                  <source class="desktop_view" src="{{section.settings.guid_video}}"/>
                </video>
                 <video class="mobile_view" width="100%" height="auto" autoplay muted loop>
                  <source src="{{section.settings.guid_video_mob}}"/>
                </video>
                {% endif %}

                  {% endif %}
              </div>
            </div>
            
          </div>
         
        </div>
      </div>
 

    </div>
  </section>
{% schema %}
  {
    "name": "guid images with text",
    "settings": [
	{
	"type":"text",
	"id":"guid_heading",
	"label":"Heading"
},
{
	"type":"text",
	"id":"guid_sub_heading",
	"label":"Sub Heading"
},
{
	"type":"header",
	"content":"Block -1"
},
{
  "type": "select",
  "id": "guid_vertical_alignment",
  "label": "Vertical alignment",
  "options": [
    {
      "value": "image",
      "label": "Image"
    },
    {
      "value": "video",
      "label": "Video"
    }
  ],
  "default": "image"
},      
{
	"type":"image_picker",
	"id":"guid_img",
	"label":"Fallback image"
		},
{
	"type":"url",
	"id":"guid_video",
	"label":"Video URL"
},
      {
	"type":"url",
	"id":"guid_video_mob",
	"label":"Mobile Video URL"
},
{
	"type":"text",
	"id":"guid_sub_title",
	"label":"Title",
	"default":"Personalize your gift"
		},
{
	"type":"text",
	"id":"guid_title",
	"label":"Title",
	"default":"Free Monogramming"
		},
    {
	"type":"richtext",
	"id":"guid_content",
	"label":"Content",
	"default":"<p>For her tour, Gracie packed everything she needed in TEGRA-LITE® pieces. Her campaign was inspired by her song, “For Real This Time.” </p>"
		},
  {
  "type":"text",
  "id":"guid_btn",
  "label":"Button name",
  "default":"Shop the collection"
  },
  {
  "type":"url",
  "id":"guid_link",
  "label":"Button URL"
  },
  {
  "type":"text",
  "id":"guid_btn-two",
  "label":"Button name"
  },
  {
  "type":"url",
  "id":"guid_link-two",
  "label":"Button URL"
  }    
        
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
