<div id="shop-now" class="product-archive drop-lp">
  <div class="product-archive-container">
    <div
         id="w-node-_44160698-9932-e741-5366-47796de7b10d-6e40fd6f"
         data-w-id="44160698-9932-e741-5366-47796de7b10d"
         style="opacity: 0; transform: translate3d(-10.384px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
         class="product-archive-card"
         >
      <a href="{{section.settings.button-link1}}" class="product-card-image-wrapper w-inline-block">
        <div class="product-card-image-mask">
          <div
               data-poster-url="{%if section.settings.video-img1 != blank%} {{section.settings.video-img1 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627326a1b6db636696fb3272_backpack-1-poster-00001.jpg {%endif%}"
               data-video-urls="{%if section.settings.card-video1 != blank%} {{section.settings.card-video1}} {% else %}https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627326a1b6db636696fb3272_backpack-1-transcode.mp4 {%endif%}"
               data-autoplay="true"
               data-loop="true"
               data-wf-ignore="true"
               data-beta-bgvideo-upgrade="false"
               class="product-card-video-entry-2 w-background-video w-background-video-atom"
               >
            <video
                   id="dfccd555-859d-1287-9078-b1aa9e7c7b05-video"
                   autoplay=""
                   loop=""
                   style="background-image: url('{%if section.settings.video-img1 != blank%} {{section.settings.video-img1 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627326a1b6db636696fb3272_backpack-1-poster-00001.jpg {%endif%}');"
                   muted=""
                   playsinline=""
                   data-wf-ignore="true"
                   data-object-fit="cover"
                   >
              <source src="{%if section.settings.card-video1 != blank%} {{section.settings.card-video1}} {% else %}https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627326a1b6db636696fb3272_backpack-1-transcode.mp4 {%endif%}" data-wf-ignore="true" />
            </video>
          </div>
          <img
               src="{%if section.settings.card-img1 != blank%} {{section.settings.card-img1 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627c83601216546a4c442b55_product-card-backpack.jpg {%endif%}"
               loading="lazy"
               sizes="(max-width: 479px) 79vw, (max-width: 767px) 43vw, (max-width: 991px) 42vw, (max-width: 1439px) 20vw, (max-width: 1919px) 21vw, 23vw"
               srcset="{%if section.settings.card-img1 != blank%} {{section.settings.card-img1 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627c83601216546a4c442b55_product-card-backpack.jpg {%endif%}"
               alt=""
               class="product-archive-card-image"
               style="opacity: 1;"
               />
          <div
               class="product-card-video-entry-1 w-background-video w-background-video-atom"
               data-autoplay="true"
               data-loop="true"
               data-beta-bgvideo-upgrade="false"
               data-wf-ignore="true"
               style="opacity: 1;"
               data-poster-url="{%if section.settings.video-img1 != blank%} {{section.settings.video-img1 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627326a1b6db636696fb3272_backpack-1-poster-00001.jpg {%endif%}"
               data-w-id="82de404c-8459-4523-5e59-ebc651fcb86a"
               data-video-urls="{%if section.settings.card-video1 != blank%} {{section.settings.card-video1}} {% else %}https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627326a1b6db636696fb3272_backpack-1-transcode.mp4 {%endif%}"
               >
            <video
                   id="82de404c-8459-4523-5e59-ebc651fcb86a-video"
                   autoplay=""
                   loop=""
                   style="background-image: url('{%if section.settings.video-img1 != blank%} {{section.settings.video-img1 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627326a1b6db636696fb3272_backpack-1-poster-00001.jpg {%endif%}');"
                   muted=""
                   playsinline=""
                   data-wf-ignore="true"
                   data-object-fit="cover"
                   >
              <source src="{%if section.settings.card-video1 != blank%} {{section.settings.card-video1}} {% else %}https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627326a1b6db636696fb3272_backpack-1-transcode.mp4 {%endif%}" data-wf-ignore="true" />
            </video>
          </div>
        </div>
        <div class="product-archive-card-name">{{section.settings.heading1}}</div>
      </a>
      <a href="{{section.settings.button-link1}}" class="button">{{section.settings.button1}}</a>
    </div>
   
    <div
         id="w-node-_21e4bdee-0772-e918-587e-bd460ef78b90-6e40fd6f"
         data-w-id="21e4bdee-0772-e918-587e-bd460ef78b90"
         style="opacity: 0; transform: translate3d(-24.103px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
         class="product-archive-card"
         >
      <a href="{{section.settings.button-link2}}" class="product-card-image-wrapper w-inline-block">
        <div class="product-card-image-mask">
          <div
               data-poster-url="{%if section.settings.video-img2 != blank%} {{section.settings.video-img2 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/6273221e1e93acefb6cf4620_luggage-poster-00001.jpg {%endif%}"
               data-video-urls="{%if section.settings.card-video2 != blank%} {{section.settings.card-video2}} {% else %}https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/6273221e1e93acefb6cf4620_luggage-transcode.mp4 {%endif%}"
               data-autoplay="true"
               data-loop="true"
               data-wf-ignore="true"
               data-beta-bgvideo-upgrade="false"
               class="product-card-video-entry-2 w-background-video w-background-video-atom"
               >
            <video
                   id="ab8e8fec-4d5d-2c79-e8ba-c58960a3a51b-video"
                   autoplay=""
                   loop=""
                   style="background-image: url('{%if section.settings.video-img2 != blank%} {{section.settings.video-img2 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/6273221e1e93acefb6cf4620_luggage-poster-00001.jpg {%endif%}');"
                   muted=""
                   playsinline=""
                   data-wf-ignore="true"
                   data-object-fit="cover"
                   >
              <source src="{%if section.settings.card-video2 != blank%} {{section.settings.card-video2}} {% else %}https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/6273221e1e93acefb6cf4620_luggage-transcode.mp4 {%endif%}" data-wf-ignore="true" />
            </video>
          </div>
          <img
               src="{%if section.settings.card-img2 != blank%} {{section.settings.card-img2 | img_url: ''}} {% else %}https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627c8360b85c2b6109b985be_product-card-luggage.jpg{%endif%}"
               loading="lazy"
               sizes="(max-width: 479px) 79vw, (max-width: 767px) 43vw, (max-width: 991px) 42vw, (max-width: 1919px) 21vw, 23vw"
               srcset="{%if section.settings.card-img2 != blank%} {{section.settings.card-img2 | img_url: ''}} {% else %}https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627c8360b85c2b6109b985be_product-card-luggage.jpg{%endif%}"
               alt=""
               class="product-archive-card-image"
               style="opacity: 1;"
               />
        </div>
        <div class="product-archive-card-name long-name">{{section.settings.heading2}}</div>
      </a>
      <a href="{{section.settings.button-link2}}" class="button">{{section.settings.button2}}</a>
    </div>
    
    <div
         id="w-node-_052d6d5c-4a62-cf4d-98b6-044e1c623f5d-6e40fd6f"
         data-w-id="052d6d5c-4a62-cf4d-98b6-044e1c623f5d"
         style="opacity: 0; transform: translate3d(-19.837px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
         class="product-archive-card"
         >
      <a href="{{section.settings.button-link3}}" class="product-card-image-wrapper w-inline-block">
        <div class="product-card-image-mask">
          <div
               data-poster-url="{%if section.settings.video-img3 != blank%} {{section.settings.video-img3 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/6273258a444f1a64a7a46562_sling-poster-00001.jpg {%endif%}"
               data-video-urls="{%if section.settings.card-video3 != blank%} {{section.settings.card-video3}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/6273258a444f1a64a7a46562_sling-transcode.mp4 {%endif%}"
               data-autoplay="true"
               data-loop="true"
               data-wf-ignore="true"
               data-beta-bgvideo-upgrade="false"
               class="product-card-video-entry-2 w-background-video w-background-video-atom"
               >
            <video
                   id="3fe1e4ed-05e5-6b07-7b98-5bf0b1a0cdac-video"
                   autoplay=""
                   loop=""
                   style="background-image: url('{%if section.settings.video-img3 != blank%} {{section.settings.video-img3 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/6273258a444f1a64a7a46562_sling-poster-00001.jpg {%endif%}');"
                   muted=""
                   playsinline=""
                   data-wf-ignore="true"
                   data-object-fit="cover"
                   >
              <source src="{%if section.settings.card-video3 != blank%} {{section.settings.card-video3}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/6273258a444f1a64a7a46562_sling-transcode.mp4 {%endif%}" data-wf-ignore="true" />
            </video>
          </div>
          <img
               src="{%if section.settings.card-img3 != blank%} {{section.settings.card-img3 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627c8360df0be689551d3a70_product-card-sling.jpg{%endif%}"
               loading="lazy"
               sizes="(max-width: 479px) 79vw, (max-width: 767px) 43vw, (max-width: 991px) 42vw, (max-width: 1439px) 20vw, (max-width: 1919px) 21vw, 23vw"
               srcset="{%if section.settings.card-img3 != blank%} {{section.settings.card-img3 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627c8360df0be689551d3a70_product-card-sling.jpg{%endif%}"
               alt=""
               class="product-archive-card-image"
               style="opacity: 1;"
               />
        </div>
        <div class="product-archive-card-name">{{section.settings.heading3}}</div>
      </a>
      <a href="{{section.settings.button-link3}}" class="button">{{section.settings.button3}}</a>
    </div>
    
    
    <div
         id="w-node-d0aa4b75-51e6-0f70-6899-505911f38c4f-6e40fd6f"
         data-w-id="d0aa4b75-51e6-0f70-6899-505911f38c4f"
         style="opacity: 0; transform: translate3d(-13.038px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
         class="product-archive-card"
         >
      <a href="{{section.settings.button-link4}}" class="product-card-image-wrapper w-inline-block">
        <div class="product-card-image-mask">
          <div
               data-poster-url="{%if section.settings.video-img4 != blank%} {{section.settings.video-img4 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627325865cc5eb7505af2a1b_laptop-poster-00001.jpg {%endif%}"
               data-video-urls="{%if section.settings.card-video4 != blank%} {{section.settings.card-video4}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627325865cc5eb7505af2a1b_laptop-transcode.mp4 {%endif%}"
               data-autoplay="true"
               data-loop="true"
               data-wf-ignore="true"
               data-beta-bgvideo-upgrade="false"
               class="product-card-video-entry-2 w-background-video w-background-video-atom"
               >
            <video
                   id="4787a909-3e9b-0033-4815-aa553cf21c25-video"
                   autoplay=""
                   loop=""
                   style="background-image: url('{%if section.settings.video-img4 != blank%} {{section.settings.video-img4 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627325865cc5eb7505af2a1b_laptop-poster-00001.jpg {%endif%}');"
                   muted=""
                   playsinline=""
                   data-wf-ignore="true"
                   data-object-fit="cover"
                   >
              <source src="{%if section.settings.card-video4 != blank%} {{section.settings.card-video4}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627325865cc5eb7505af2a1b_laptop-transcode.mp4 {%endif%}" data-wf-ignore="true" />
            </video>
          </div>
          <img
               src="{%if section.settings.card-img4 != blank%} {{section.settings.card-img4 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627c8360bd0aed61e39b7a44_product-card-laptop.jpg {%endif%}"
               loading="lazy"
               sizes="(max-width: 479px) 79vw, (max-width: 767px) 43vw, (max-width: 991px) 42vw, (max-width: 1439px) 20vw, (max-width: 1919px) 21vw, 23vw"
               srcset="{%if section.settings.card-img4 != blank%} {{section.settings.card-img4 | img_url: ''}} {% else %} https://uploads-ssl.webflow.com/624a907f6b4dd470003a9477/627c8360bd0aed61e39b7a44_product-card-laptop.jpg {%endif%}"
               alt=""
               class="product-archive-card-image"
               style="opacity: 1;"
               />
        </div>
        <div class="product-archive-card-name">{{section.settings.heading4}}</div>
      </a>
      <a href="{{section.settings.button-link4}}" class="button">{{section.settings.button4}}</a>
    </div>
  </div>
</div> 




{% schema %}
  {
    "name": "launch shop now",
    "settings": [
		{
			"type": "header",
			"content": "card 1"
		},
		{
			"type": "image_picker",
			"id": "video-img1",
			"label": "Video Poster Image"
		},
		{
			"type": "text",
			"id": "card-video1",
			"label": "Video Url"
		},
		{
			"type": "image_picker",
			"id": "card-img1",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "heading1",
			"label": "Heading",
			"default": "FINCH BACKPACK – For 15” Laptop"
		},
		{
			"type": "text",
			"id": "button1",
			"label": "Button",
			"default": "SHOP NOW"
		},
		{
			"type": "url",
			"id": "button-link1",
			"label": "Button Link"
		},
		{
			"type": "header",
			"content": "card 2"
		},
		{
			"type": "image_picker",
			"id": "video-img2",
			"label": "Video Poster Image"
		},
		{
			"type": "text",
			"id": "card-video2",
			"label": "Video Url"
		},
		{
			"type": "image_picker",
			"id": "card-img2",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "heading2",
			"label": "Heading",
			"default": "INTERNATIONAL EXPANDABLE 4 WHEEL CARRY-ON LUGGAGE"
		},
		{
			"type": "text",
			"id": "button2",
			"label": "Button",
			"default": "SHOP NOW"
		},
		{
			"type": "url",
			"id": "button-link2",
			"label": "Button Link"
		},
		{
			"type": "header",
			"content": "card 3"
		},
		{
			"type": "image_picker",
			"id": "video-img3",
			"label": "Video Poster Image"
		},
		{
			"type": "text",
			"id": "card-video3",
			"label": "Video Url"
		},
		{
			"type": "image_picker",
			"id": "card-img3",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "heading3",
			"label": "Heading",
			"default": "BOZEMAN SLING BAG"
		},
		{
			"type": "text",
			"id": "button3",
			"label": "Button",
			"default": "SHOP NOW"
		},
		{
			"type": "url",
			"id": "button-link3",
			"label": "Button Link"
		},
		{
			"type": "header",
			"content": "card 4"
		},
		{
			"type": "image_picker",
			"id": "video-img4",
			"label": "Video Poster Image"
		},
		{
			"type": "text",
			"id": "card-video4",
			"label": "Video Url"
		},
		{
			"type": "image_picker",
			"id": "card-img4",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "heading4",
			"label": "Heading",
			"default": "LAPTOP SLEEVE – For 15” Laptop"
		},
		{
			"type": "text",
			"id": "button4",
			"label": "Button",
			"default": "SHOP NOW"
		},
		{
			"type": "url",
			"id": "button-link4",
			"label": "Button Link"
		}
	]
  }
{% endschema %}
