<section class="container-full hot-stamp">
    <div class="stamp-row">
      <div class="stamp-col stamp-imgs">
        <div class="stamp-row">
          <div class="stamp-card wow fadeInLeftBig">
            <div class="stamp-card-img">
              {% if section.settings.image_one != blank %}
              <img src="{{section.settings.image_one | img_url: '550x'}}" alt="{{section.settings.image_one.alt}}" />
              {% else %}
              <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/hot-stamp-1.jpg" alt="hot-stamp" />
              {% endif %}
            </div>
          </div>
          <div class="stamp-card wow fadeInRightBig">
            <div class="stamp-card-img">
              {% if section.settings.image_two != blank %}
              <img src="{{section.settings.image_two | img_url: '550x'}}" alt="{{image.alt}}" />
              {% else %}
              <img src="https://cdn.shopify.com/s/files/1/0272/4233/2203/files/hot-stamp-2.jpg" alt="hot-stamp" />
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="stamp-col stamp-des wow fadeInUp">
        <div class="stamp-info">
          <h3> {{section.settings.heading }} </h3>
          <div class="stamp-details">
             {{section.settings.content }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% schema %}
  {
    "name": "Monogram Stamp",
    "settings": [
{
"type":"html",
"id":"heading",
"label":"Heading", 
"default":"<span class='text-light'> Engraving </span> <span class='text-bold'> MONOGRAMMING</span>"
},
{
"type":"richtext",
"id":"content",
"label":"Content", 
"default":"<p>Pick your favorite TUMI product and make it more personal by engraving a monogram on the patch or luggage tag. <br /> Explore unlimited possibilities, by monogramming using your initials or a meaningful combination of alphabets, numbers, and symbols.</p>"
},
{
"type":"image_picker",
"id":"image_one",
"label":"Image one"
},
{
"type":"image_picker",
"id":"image_two",
"label":"Image two"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
