<section class="common-vms view-highlight-section">
  <div class="custom-container">
    <ul>
      <li>
        <div class="view-wrapper">
          <picture>
            <source media="(min-width:750px)" srcset="{{ section.settings.desk_img | img_url: "original"}}">
            <img src="{{section.settings.mbl_img | img_url: "original"}}" alt="icon" style="width:auto;">
          </picture>
        </div>
      </li>
      <li>
        <div class="view-content" data-aos-id="zoom-img" data-aos="fade-up" data-aos-delay="200">
          <h2>{{ section.settings.heading }}</h2>
          <p>{{ section.settings.text }}</p>
            <a class="btn-ab" href="{{ section.settings.btnlink }}">{{ section.settings.btnlabel }}</a>
        </div>  	
      </li>
    </ul>
  </div>
</section>
{% schema %}
  {
     "name": "tumi-store-4",
    "settings": [
	 {
        "type": "image_picker",
        "id": "desk_img",
        "label": "Desktop Image"
      },
	 {
        "type": "image_picker",
        "id": "mbl_img",
        "label": "Mobile Image"
      },
	 {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
	{
        "type": "textarea",
        "id": "text",
        "label": "text"
      },
	 {
        "type": "text",
        "id": "btnlabel",
        "label": "button Label"
      },
	 {
        "type": "url",
        "id": "btnlink",
        "label": "button Link"
      }
    ]
  }
{% endschema %}